@model DVSRegister.Models.CAB.ServiceSummaryViewModel
@using DVSRegister.CommonUtility
@using DVSRegister.CommonUtility.Models;
@using DVSRegister.BusinessLogic.Models.CAB;
@using DVSRegister.Extensions

@{
    bool is0_4GammaVersion = Model?.TFVersionViewModel?.SelectedTFVersion?.Version == Constants.TFVersion0_4;
}


<div class="govuk-summary-card">
    <div class="govuk-summary-card__title-wrapper">
        <h2 class="govuk-summary-card__title">
            Service: @Model.ServiceName
        </h2>
    </div>
    <div class="govuk-summary-card__content">
        <dl class="govuk-summary-list">

            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Trust framework version
                </dt>
                <dd class="govuk-summary-list__value">
                    @Model?.TFVersionViewModel?.SelectedTFVersion?.TrustFrameworkName
                </dd>
                <dd class="govuk-summary-list__actions">
                    @Html.ActionLink("Change", "#", "#", new { fromSummaryPage = true, providerProfileId = Model.ProviderProfileId },
                             new { @class = "govuk-link", @aria_label = "" })
                </dd>
            </div>

            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Name of service
                </dt>
                <dd class="govuk-summary-list__value">
                    @Model.ServiceName
                </dd>
                <dd class="govuk-summary-list__actions">
                    @Html.ActionLink("Change", "ServiceName", "CabService", new { fromSummaryPage = true, providerProfileId = Model.ProviderProfileId },
                                               new { @class = "govuk-link", @aria_label = "" })
                </dd>
            </div>



            @if (Model.ServiceStatus == ServiceStatusEnum.AmendmentsRequired )
            {
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Submission date (GMT)
                    </dt>
                    <dd class="govuk-summary-list__value">
                        @DateTimeExtensions.FormatDateTime(Model.CreatedDate)
                    </dd>
                </div>

                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Status
                    </dt>
                    <dd class="govuk-summary-list__value">
                        @HtmlExtensions.ToStyledStrongTag(Model.ServiceStatus)
                    </dd>
                </div>
            }


            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    URL link to the service
                </dt>
                <dd class="govuk-summary-list__value">
                    @Model.ServiceURL
                </dd>
                <dd class="govuk-summary-list__actions">
                    @Html.ActionLink("Change", "ServiceURL", "CabService", new { fromSummaryPage = true },
                                               new { @class = "govuk-link", @aria_label = "Change digital identity and attribute service provider’s website address" })
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Company address details
                </dt>
                <dd class="govuk-summary-list__value">
                    @HtmlExtensions.ToStringWithLineBreaks(Model?.CompanyAddress??string.Empty)
                </dd>
                <dd class="govuk-summary-list__actions">
                    @Html.ActionLink("Change", "CompanyAddress", "CabService", new { fromSummaryPage = true },
                                               new { @class = "govuk-link", @aria_label = "Change company address details" })
                </dd>
            </div>

            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Roles certified
                    against
                </dt>
                <dd class="govuk-summary-list__value">

                    @if (Model?.RoleViewModel?.SelectedRoles?.Count>0)
                    {
                        @foreach (var item in Model.RoleViewModel.SelectedRoles)
                        {
                            @item.RoleName
                            <br>
                        }
                    }

                </dd>
                <dd class="govuk-summary-list__actions">
                    @Html.ActionLink("Change", "ProviderRoles", "CabService", new { fromSummaryPage = true },
                                               new { @class = "govuk-link", @aria_label = "Change the roles from the UK digital identity and attributes trust framework that apply to the provider's service" })
                </dd>
            </div>

            @if(is0_4GammaVersion)
            {
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Underpinning or white-labelled service
                    </dt>
                    <dd class="govuk-summary-list__value">
                        @Helper.GetEnumDescription(@Model.ServiceType)
                    </dd>
                    <dd class="govuk-summary-list__actions">
                        @Html.ActionLink("Change", "#", "#", new { fromSummaryPage = true, providerProfileId = Model.ProviderProfileId },
                                 new { @class = "govuk-link", @aria_label = "" })
                    </dd>
                </div>
            }

            @if (is0_4GammaVersion)
            {
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        GPG 45 identity profiles
                    </dt>
                    <dd class="govuk-summary-list__value">
                        @if (Model?.IdentityProfileViewModel?.SelectedIdentityProfiles != null && Model.IdentityProfileViewModel.SelectedIdentityProfiles.Count > 0)
                        {
                            @foreach (var item in Model.IdentityProfileViewModel.SelectedIdentityProfiles)
                            {
                                @item.IdentityProfileName
                                <br>
                            }
                        }
                        else
                        {
                            <div>@Constants.NullFieldsDisplay</div>
                        }
                    </dd>
                    <dd class="govuk-summary-list__actions">
                        @Html.ActionLink("Change", "GPG45Input", "CabService", new { fromSummaryPage = true },
                                 new { @class = "govuk-link", @aria_label = "Change the identity profiles for the digital identity and attribute service provider's service" })
                    </dd>
                </div>

                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        GPG 44 quality of authenticator
                    </dt>
                    <dd class="govuk-summary-list__value">
                        @if (Model?.QualityLevelViewModel?.SelectedQualityofAuthenticators != null && Model.QualityLevelViewModel.SelectedQualityofAuthenticators.Count > 0)
                        {
                            @foreach (var item in Model.QualityLevelViewModel.SelectedQualityofAuthenticators)
                            {
                                @item.Level
                                <br>
                            }
                        }
                        else
                        {
                            <div>@Constants.NullFieldsDisplay</div>
                        }
                    </dd>
                    <dd class="govuk-summary-list__actions">
                        @Html.ActionLink("Change", "GPG44Input", "CabService", new { fromSummaryPage = true },
                                 new { @class = "govuk-link", @aria_label = "Change supplementary code" })
                    </dd>
                </div>

                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        GPG 44 level of protection
                    </dt>

                    <dd class="govuk-summary-list__value">
                        @if (Model?.QualityLevelViewModel?.SelectedLevelOfProtections != null && Model.QualityLevelViewModel.SelectedLevelOfProtections.Count > 0)
                        {
                            @foreach (var item in Model.QualityLevelViewModel.SelectedLevelOfProtections)
                            {
                                @item.Level
                                <br>
                            }
                        }
                        else
                        {
                            <div>@Constants.NullFieldsDisplay</div>
                        }
                    </dd>
                    <dd class="govuk-summary-list__actions">
                        @Html.ActionLink("Change", "GPG44Input", "CabService", new { fromSummaryPage = true },
                                 new { @class = "govuk-link", @aria_label = "Change GPG44 level of protection" })
                    </dd>
                </div>

              
            }
            else
            {
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        GPG 44 quality of authenticator
                    </dt>
                    <dd class="govuk-summary-list__value">
                        @if (Model?.QualityLevelViewModel?.SelectedQualityofAuthenticators != null && Model.QualityLevelViewModel.SelectedQualityofAuthenticators.Count > 0)
                        {
                            @foreach (var item in Model.QualityLevelViewModel.SelectedQualityofAuthenticators)
                            {
                                @item.Level
                                <br>
                            }
                        }
                        else
                        {
                            <div>@Constants.NullFieldsDisplay</div>
                        }
                    </dd>
                    <dd class="govuk-summary-list__actions">
                        @Html.ActionLink("Change", "GPG44Input", "CabService", new { fromSummaryPage = true },
                                 new { @class = "govuk-link", @aria_label = "Change supplementary code" })
                    </dd>
                </div>

                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        GPG 44 level of protection
                    </dt>

                    <dd class="govuk-summary-list__value">
                        @if (Model?.QualityLevelViewModel?.SelectedLevelOfProtections != null && Model.QualityLevelViewModel.SelectedLevelOfProtections.Count > 0)
                        {
                            @foreach (var item in Model.QualityLevelViewModel.SelectedLevelOfProtections)
                            {
                                @item.Level
                                <br>
                            }
                        }
                        else
                        {
                            <div>@Constants.NullFieldsDisplay</div>
                        }
                    </dd>
                    <dd class="govuk-summary-list__actions">
                        @Html.ActionLink("Change", "GPG44Input", "CabService", new { fromSummaryPage = true },
                                 new { @class = "govuk-link", @aria_label = "Change GPG44 level of protection" })
                    </dd>
                </div>

                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        GPG 45 identity profiles
                    </dt>
                    <dd class="govuk-summary-list__value">
                        @if (Model?.IdentityProfileViewModel?.SelectedIdentityProfiles != null && Model.IdentityProfileViewModel.SelectedIdentityProfiles.Count > 0)
                        {
                            @foreach (var item in Model.IdentityProfileViewModel.SelectedIdentityProfiles)
                            {
                                @item.IdentityProfileName
                                <br>
                            }
                        }
                        else
                        {
                            <div>@Constants.NullFieldsDisplay</div>
                        }
                    </dd>
                    <dd class="govuk-summary-list__actions">
                        @Html.ActionLink("Change", "GPG45Input", "CabService", new { fromSummaryPage = true },
                                 new { @class = "govuk-link", @aria_label = "Change the identity profiles for the digital identity and attribute service provider's service" })
                    </dd>
                </div>
            }

           

            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Supplementary codes
                </dt>
                <dd class="govuk-summary-list__value">
                    @if (Model?.SupplementarySchemeViewModel?.SelectedSupplementarySchemes != null && Model.SupplementarySchemeViewModel.SelectedSupplementarySchemes.Count > 0)
                    {

                        @foreach (var item in Model.SupplementarySchemeViewModel.SelectedSupplementarySchemes)
                        {
                            @item.SchemeName
                            <br>
                        }
                    }
                    else
                    {
                        <div>@Constants.NullFieldsDisplay</div>
                    }
                </dd>
                <dd class="govuk-summary-list__actions">
                    @Html.ActionLink("Change", "HasSupplementarySchemesInput", "CabService", new { fromSummaryPage = true },
                             new { @class = "govuk-link", @aria_label = "Change relevant supplementary schemes" })
                </dd>
            </div>

            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Service provider's certificate of conformity
                </dt>
                <dd class="govuk-summary-list__value">
                    <p class="govuk-body">
                        @Model?.FileName
                    </p>
                </dd>
                <dd class="govuk-summary-list__actions">
                    @Html.ActionLink("Change", "CertificateUploadPage", "CabService", new { fromSummaryPage = true },
                             new { @class = "govuk-link", @aria_label = "Change service provider's certificate of conformity" })
                </dd>
            </div>

            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Date of issue
                </dt>
                <dd class="govuk-summary-list__value">
                    @DateTimeExtensions.FormatDateTime(Model?.ConformityIssueDate, "dd MMM yyyy")
                </dd>
                <dd class="govuk-summary-list__actions">
                    @Html.ActionLink("Change", "ConfirmityIssueDate", "CabService",
                             new { fromSummaryPage = true }, new { @class = "govuk-link", @aria_label = "Change date of issue" })
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Date of expiry
                </dt>
                <dd class="govuk-summary-list__value">
                    @DateTimeExtensions.FormatDateTime(Model?.ConformityExpiryDate, "dd MMM yyyy")
                </dd>
                <dd class="govuk-summary-list__actions">
                    @Html.ActionLink("Change", "ConfirmityExpiryDate", "CabService", new { fromSummaryPage = true }, new { @class = "govuk-link", @aria_label = "Change date of expiry" })
                </dd>
            </div>

        </dl>
    </div>

</div>


@if (is0_4GammaVersion)
{
    @if(Model?.SupplementarySchemeViewModel?.SelectedSupplementarySchemes != null && Model.SupplementarySchemeViewModel.SelectedSupplementarySchemes.Count>0)
    {
    List<IdentityProfileDto> identityProfilesMappings = [];
    List<QualityLevelDto> qualityLevelprotectionMappings = [];
    List<QualityLevelDto> qualityLevelAuthenticationMappings = [];

    @foreach (var schemeMapping in Model.SupplementarySchemeViewModel.SelectedSupplementarySchemes)
    {

        @if (Model.SchemeIdentityProfileMapping != null && Model.SchemeIdentityProfileMapping.Count > 0)
        {
            var maapings = Model.SchemeIdentityProfileMapping.Where(x => x.SchemeId == schemeMapping.Id).FirstOrDefault();
            identityProfilesMappings = maapings?.IdentityProfile?.SelectedIdentityProfiles??[];

        }

        @if (Model.SchemeQualityLevelMapping != null && Model.SchemeQualityLevelMapping.Count > 0)
        {
            var protectionMappings = Model.SchemeQualityLevelMapping.Where(x => x.SchemeId == schemeMapping.Id).FirstOrDefault();
            qualityLevelprotectionMappings = protectionMappings?.QualityLevel?.SelectedLevelOfProtections??[];

            var authenticationMappings = Model.SchemeQualityLevelMapping.Where(x => x.SchemeId == schemeMapping.Id).FirstOrDefault();

            qualityLevelAuthenticationMappings = authenticationMappings?.QualityLevel?.SelectedQualityofAuthenticators??[];
        }


        <div class="govuk-summary-card">
            <div class="govuk-summary-card__title-wrapper">
                <h2 class="govuk-summary-card__title">
                    Supplementary codes: @schemeMapping.SchemeName
                </h2>
            </div>
            <div class="govuk-summary-card__content">
                <dl class="govuk-summary-list">

                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            GPG 45 identity profiles
                        </dt>
                        <dd class="govuk-summary-list__value">

                            @if (identityProfilesMappings != null && identityProfilesMappings.Count > 0)
                            {
                                @foreach (var item in identityProfilesMappings)
                                {
                                    @item.IdentityProfileName
                                    <br>
                                }
                            }
                            else
                            {
                                <div>@Constants.NullFieldsDisplay</div>
                            }

                        </dd>
                        <dd class="govuk-summary-list__actions">
                                @Html.ActionLink("Change", "SchemeGPG45", "TrustFramework0_4", new { fromSummaryPage = true, providerProfileId = Model.ProviderProfileId, schemeId = schemeMapping.Id },
                                         new { @class = "govuk-link", @aria_label = "Change selected GPG45 options for " + schemeMapping.SchemeName })
                        </dd>
                    </div>


                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            GPG 44 quality of authentication
                        </dt>
                        <dd class="govuk-summary-list__value">
                            @if (qualityLevelAuthenticationMappings != null && qualityLevelAuthenticationMappings.Count > 0)
                            {
                                @foreach (var item in qualityLevelAuthenticationMappings)
                                {
                                    @item.Level
                                    <br>
                                }
                            }
                            else
                            {
                                <div>@Constants.NullFieldsDisplay</div>
                            }
                        </dd>
                        <dd class="govuk-summary-list__actions">
                                @Html.ActionLink("Change", "SchemeGPG44Input", "TrustFramework0_4", new { fromSummaryPage = true, providerProfileId = Model.ProviderProfileId, schemeId = schemeMapping.Id },
                                         new { @class = "govuk-link", @aria_label = "Change selected GPG 44 options for " + schemeMapping.SchemeName })
                        </dd>
                    </div>

                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            GPG 44 quality of protection
                        </dt>
                        <dd class="govuk-summary-list__value">
                            @if (qualityLevelprotectionMappings != null && qualityLevelprotectionMappings.Count > 0)
                            {
                                @foreach (var item in qualityLevelprotectionMappings)
                                {
                                    @item.Level
                                    <br>
                                }
                            }
                            else
                            {
                                <div>@Constants.NullFieldsDisplay</div>
                            }
                        </dd>
                        <dd class="govuk-summary-list__actions">
                                @Html.ActionLink("Change", "SchemeGPG44Input", "TrustFramework0_4", new { fromSummaryPage = true, providerProfileId = Model.ProviderProfileId, schemeId = schemeMapping.Id },
                                         new { @class = "govuk-link", @aria_label = "Change selected GPG 44 options for " + schemeMapping.SchemeName })
                        </dd>
                    </div>

                </dl>
            </div>
        </div>
    }

    }


}