@using DVSRegister.BusinessLogic.Models.CAB;
@using DVSRegister.Extensions;
@using DVSRegister.CommonUtility.Models;
@using DVSRegister.CommonUtility.Models.Enums;
@model ServiceDto;

@{
    ViewData["Title"] = "You are about to send a request to remove a service from the register";
    Layout = "~/Views/Shared/_LayoutLoggedIn.cshtml";
}

<div class="govuk-width-container">
    <a href="@ViewBag.RefererURL" class="govuk-back-link">Back</a>
    <main id="main-content" class="govuk-main-wrapper" role="main">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                <h1 class="govuk-heading-xl">
                    You are about to send a request to remove a service from the register
                </h1>
            </div>
                <div class="govuk-grid-column-full">
                    <table class="govuk-table">
                        <thead class="govuk-table__head">
                            <tr class="govuk-table__row">
                                <th scope="col" class="govuk-table__header">Registered Name</th>
                                <th scope="col" class="govuk-table__header">Trading Name</th>
                                <th scope="col" class="govuk-table__header">Services</th>
                                <th scope="col" class="govuk-table__header">Last Updated (GMT)</th>
                            </tr>
                        </thead>
                        <tbody class="govuk-table__body">
                            <tr class="govuk-table__row">
                                <td class="govuk-table__cell">@Model.Provider.RegisteredName</td>
                                <td class="govuk-table__cell">
                                    @Html.DisplayFor(model => model.Provider.TradingName)
                                </td>
                                <td class="govuk-table__cell">
                                    @foreach (var item in Model.Provider.Services.Where(s => s.ServiceStatus != ServiceStatusEnum.Removed))
                                    {
                                        @item.ServiceName

                                        <br />
                                    }
                                </td>
                                <td class="govuk-table__cell">@DateTimeExtensions.FormatDateTime(Model.Provider.ModifiedTime)</td>
                            </tr>
                        </tbody>
                    </table>
                </div>

            <div class="govuk-grid-column-three-quarters">
                <h2 class="govuk-heading-m govuk-!-margin-top-6">Selected reason for removing this service</h2>
                <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible govuk-!-margin-bottom-0" />
                <dl class="govuk-summary-list govuk-!-margin-bottom-8">
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">Reason for removal</dt>
                        <dd class="govuk-summary-list__value">@ViewBag.RemovalReasonByCab</dd>
                    </div>
                </dl>

                <h2 class="govuk-heading-m govuk-!-margin-top-8">What will happen next</h2>
                <p class="govuk-body">
                    OfDIA will be sent an email asking to confirm that the details should be removed. Once they accept the request, the details will be automatically removed from the register. You will receive an email confirmation of the removal.
                </p>
                <p class="govuk-body">
                    The provider will also receive an email notification when the details have been removed from the register.
                </p>
                <p class="govuk-body">
                    If OfDIA does not confirm the removal, the details will remain published in the register of digital identity and attribute services.
                </p>

                <div class="govuk-warning-text govuk-!-margin-top-8">
                    <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
                    <strong class="govuk-warning-text__text">
                        <span class="govuk-visually-hidden">Warning</span>
                        Once you request the removal, the action can't be undone.
                    </strong>
                </div>

                @using (Html.BeginForm("RequestRemoval", "CabRemovalRequest", FormMethod.Post))
                {
                    <input type="hidden" name="serviceId" value="@Model.Id" />
                    <input type="hidden" name="providerId" value="@Model.ProviderProfileId" />
                    <div class="govuk-button-group govuk-!-margin-top-8 govuk-!-margin-bottom-8">
                        <button type="submit" class="govuk-button govuk-button--warning" data-module="govuk-button">
                            Request removal
                        </button>
                        <a class="govuk-button govuk-button--secondary" href="@ViewBag.RefererURL">
                            Cancel and back
                        </a>
                    </div>
                 }
            </div>
        </div>
    </main>
</div>
