@model DVSRegister.Models.CAB.RemovalRequestViewModel
@{
    ViewData["Title"] = "Give details on the reason for removing this service provider";
    Layout = "~/Views/Shared/_LayoutLoggedIn.cshtml";
}

@{
    bool isValid = true;
}

@using (Html.BeginForm("SaveReasonForRemoval", "CabRemovalRequest", FormMethod.Post))
{
    @Html.HiddenFor(m => m.ServiceId)
    <div class="govuk-width-container">
        @Html.ActionLink("Back", "ProviderOverview", "Cab", new { @providerId = Model.ProviderId }, new { @class = "govuk-back-link" })
        <main id="main-content" class="govuk-main-wrapper" role="main">
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-two-thirds">
                    <h1 class="govuk-heading-xl">Give details on the reason for removing this @(Model.WhatToRemove == "provider" ? "service provider" : "service")</h1>

                    @if (ViewData.ModelState.ErrorCount > 0)
                    {
                        isValid = false; 
                        ViewData["Title"] = "Error: " + ViewData["Title"];
                        @await Html.PartialAsync("~/Views/PartialViews/_ErrorSummaryView.cshtml", Model)
                    }

                    <p class="govuk-body">
                        You are about to request the removal of a @(Model.WhatToRemove == "provider" ? "service from the register. As there are no other published services associated with this provider, removing this service will result in the deletion of the entire provider's record from the register." : "service from the register.")
                    </p>
                    <p class="govuk-body">
                        Please provide details on the reason for removing this @(Model.WhatToRemove == "provider" ? "service provider" : "service") below.
                    </p>

                    <div class="govuk-form-group @(isValid ? "" : "govuk-form-group--error")">
                        <label class="govuk-label govuk-label--s" for="removalreasonbycab">
                            Provide details on the reason for removing this @(Model.WhatToRemove == "provider" ? "service provider" : "service")
                        </label>
                        <p id="removalreasonbycab-error" class="govuk-error-message">
                            <span class="govuk-visually-hidden">Error:</span> @Html.ValidationMessageFor(m => m.RemovalReasonByCab, "", new { @class = "govuk-error-message" })
                        </p>
                        @Html.TextAreaFor(m => m.RemovalReasonByCab, 5, 20, new { @class = "govuk-textarea", id = "removalreasonbycab", name = "removalreasonbycab-name", aria_describedby = "removalreasonbycab-error" })
                    </div>

                    <button type="submit" class="govuk-button" data-module="govuk-button">
                        Continue
                    </button>

                    <a href="/cab-service/profile-overview?providerId=@Model.ProviderId" class="govuk-button govuk-button--secondary" role="button" draggable="false" data-module="govuk-button">
                        Cancel
                    </a>
                </div>
            </div>
        </main>
    </div>
}

