@model DVSRegister.Models.CAB.QualityLevelViewModel
@{
    ViewData["Title"] = "SelectSupplementarySchemes";
    Layout = "~/Views/Shared/_LayoutLoggedIn.cshtml";
}

@{
    bool hasAuthenticatorError = false;
    bool hasProtectionError = false;
    int authIndex = 0;
    int levelIndex = 0;
}

@using (Html.BeginForm("SaveGPG44", "CabService", FormMethod.Post))
{
    @Html.HiddenFor(m => m.FromSummaryPage, new { @Value = ViewBag.fromSummaryPage })
    <div class="govuk-width-container">
        @Html.ActionLink("Back", "GPG44Input", "CabService", null, new { @class = "govuk-back-link" })
        <main class="govuk-main-wrapper">
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-two-thirds">

                    @if (ViewData.ModelState.ErrorCount >0)
                    {
                        @if (Html.ViewData?.ModelState.ContainsKey("SelectedQualityofAuthenticatorIds") == true && Html.ViewData.ModelState["SelectedQualityofAuthenticatorIds"].Errors.Count > 0)
                        {
                            hasAuthenticatorError = true;
                        }

                        @if (Html.ViewData?.ModelState.ContainsKey("SelectedLevelOfProtectionIds") == true && Html.ViewData.ModelState["SelectedLevelOfProtectionIds"].Errors.Count > 0)
                        {
                            hasProtectionError = true;
                        }

                        ViewData["Title"] = "Error: " + ViewData["Title"];
                        @await Html.PartialAsync("~/Views/PartialViews/_ErrorSummaryView.cshtml", Model)
                    }

                    <h1 class="govuk-heading-xl">
                        Select GPG44 quality of authenticator and level of protection
                    </h1>

                    <p class="govuk-body">
                        This must match the information on the certificate.
                    </p>


                    @if (hasAuthenticatorError)
                    {
                        <div class="govuk-form-group govuk-form-group--error">
                            <fieldset class="govuk-fieldset">
                                <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                                    <h1 class="govuk-fieldset__heading">
                                        Quality of authenticator
                                    </h1>
                                </legend>

                                <p id="selectedqualityofauthenticatorids-error" class="govuk-error-message">
                                    <span class="govuk-visually-hidden">Error:</span> @Html.ValidationMessageFor(m => m.SelectedQualityofAuthenticatorIds, "", new { @class = "govuk-error-message" })
                                </p>
                                <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                                    @foreach (var authenticator in Model.AvailableQualityOfAuthenticators)
                                    {
                                        var idSuffix = authIndex > 0 ? $"_{authIndex}" : string.Empty; // added to make the first checkbox id as selectedqualityofauthenticatorids so that error summary ahref refers first item
                                        <div class="govuk-checkboxes__item">
                                            <input class="govuk-checkboxes__input" type="checkbox" name="SelectedQualityofAuthenticatorIds" value="@authenticator.Id"
                                                   id="selectedqualityofauthenticatorids@(idSuffix)" aria-describedby="selectedqualityofauthenticatorids"
                                            @(Model.SelectedQualityofAuthenticatorIds.Contains(authenticator.Id) ? "checked" : "") />
                                            <label class="govuk-label govuk-checkboxes__label" for="selectedqualityofauthenticatorids@(idSuffix)">@authenticator.Level</label>
                                        </div>
                                        authIndex++;
                                    }
                                </div>

                            </fieldset>
                        </div>
                    }
                    else
                    {
                        <div class="govuk-form-group">
                            <fieldset class="govuk-fieldset">
                                <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                                    <h1 class="govuk-fieldset__heading">
                                        Quality of authenticator
                                    </h1>
                                </legend>

                                <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                                    @foreach (var authenticator in Model.AvailableQualityOfAuthenticators)
                                    {
                                        var idSuffix = authIndex > 0 ? $"_{authIndex}" : string.Empty;
                                        <div class="govuk-checkboxes__item">
                                            <input class="govuk-checkboxes__input" type="checkbox" name="SelectedQualityofAuthenticatorIds" value="@authenticator.Id"
                                                   id="selectedqualityofauthenticatorids@(idSuffix)" aria-describedby="selectedqualityofauthenticatorids"
                                            @(Model.SelectedQualityofAuthenticatorIds.Contains(authenticator.Id) ? "checked" : "") />
                                            <label class="govuk-label govuk-checkboxes__label" for="selectedqualityofauthenticatorids@(idSuffix)">@authenticator.Level</label>
                                        </div>
                                        authIndex++;
                                    }
                                </div>

                            </fieldset>
                        </div>
                    }
                    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

                    @if (hasProtectionError)
                    {
                        <div class="govuk-form-group govuk-form-group--error">
                            <fieldset class="govuk-fieldset">
                                <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                                    <h1 class="govuk-fieldset__heading">
                                        Level of protection
                                    </h1>
                                </legend>

                                <p id="selectedlevelofprotectionids-error" class="govuk-error-message">
                                    <span class="govuk-visually-hidden">Error:</span> @Html.ValidationMessageFor(m => m.SelectedLevelOfProtectionIds, "", new { @class = "govuk-error-message" })
                                </p>
                                <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                                    @foreach (var level in Model.AvailableLevelOfProtections)
                                    {
                                        var idSuffix = levelIndex > 0 ? $"_{levelIndex}" : string.Empty;
                                        <div class="govuk-checkboxes__item">
                                            <input class="govuk-checkboxes__input" type="checkbox" name="SelectedLevelOfProtectionIds" value="@level.Id"
                                                   id="selectedlevelofprotectionids@(idSuffix)" aria-describedby="selectedlevelofprotectionids-error"
                                            @(Model.SelectedLevelOfProtectionIds.Contains(level.Id) ? "checked" : "") />
                                            <label class="govuk-label govuk-checkboxes__label" for="selectedlevelofprotectionids@(idSuffix)">@level.Level</label>
                                        </div>
                                        levelIndex++;
                                    }
                                </div>

                            </fieldset>
                        </div>
                    }
                    else
                    {
                        <div class="govuk-form-group">
                            <fieldset class="govuk-fieldset">
                                <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                                    <h1 class="govuk-fieldset__heading">
                                        Level of protection
                                    </h1>
                                </legend>

                                <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                                    @foreach (var level in Model.AvailableLevelOfProtections)
                                    {
                                        var idSuffix = levelIndex > 0 ? $"_{levelIndex}" : string.Empty;

                                        <div class="govuk-checkboxes__item">
                                            <input class="govuk-checkboxes__input" type="checkbox" name="SelectedLevelOfProtectionIds" value="@level.Id"
                                                   id="selectedlevelofprotectionids@(idSuffix)" aria-describedby="selectedlevelofprotectionids-error"
                                            @(Model.SelectedLevelOfProtectionIds.Contains(level.Id) ? "checked" : "") />
                                            <label class="govuk-label govuk-checkboxes__label" for="selectedlevelofprotectionids@(idSuffix)">@level.Level</label>
                                        </div>
                                        levelIndex++;
                                    }
                                </div>

                            </fieldset>
                        </div>
                    }


                    <button type="submit" class="govuk-button govuk-!-margin-top-6" data-module="govuk-button">
                        Continue
                    </button>
                </div>
            </div>
        </main>
    </div>
}

