@model DVSRegister.Models.CAB.ServiceSummaryViewModel
@using DVSRegister.Extensions
@using DVSRegister.CommonUtility.Models
@{
    ViewData["Title"] = "ServiceSummary";
    Layout = "~/Views/Shared/_LayoutLoggedIn.cshtml";
}

@using (Html.BeginForm("SaveServiceSummary", "CabService", FormMethod.Post))
{
    <div class="govuk-width-container">
        @Html.ActionLink("Back", "ConfirmityExpiryDate", "CabService", null, new { @class = "govuk-back-link" })
        <main id="main-content" class="govuk-main-wrapper" role="main">
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-two-thirds">
                    <h1 class="govuk-heading-xl"> Check your answers before submitting your application</h1>

                </div>
                <div class="govuk-grid-column-full">


                    <div class="govuk-summary-card">
                        <div class="govuk-summary-card__title-wrapper">
                            <h2 class="govuk-summary-card__title">
                                Service details
                            </h2>
                        </div>
                        <div class="govuk-summary-card__content">
                            <dl class="govuk-summary-list">
                                <div class="govuk-summary-list__row">
                                    <dt class="govuk-summary-list__key">
                                        Name of service
                                    </dt>
                                    <dd class="govuk-summary-list__value">
                                        @Model.ServiceName
                                    </dd>
                                    <dd class="govuk-summary-list__actions">
                                        @Html.ActionLink("Change", "ServiceName", "CabService", new { fromSummaryPage = true, providerProfileId = Model.ProviderProfileId },
                                                 new { @class = "govuk-link", @aria_label = "Change service provider certified against any supplementary schemes on their certificate" })
                                    </dd>
                                </div>


                                <div class="govuk-summary-list__row">
                                    <dt class="govuk-summary-list__key">
                                        URL link to the service
                                    </dt>
                                    <dd class="govuk-summary-list__value">
                                        @Model.ServiceURL
                                    </dd>
                                    <dd class="govuk-summary-list__actions">
                                        @Html.ActionLink("Change", "ServiceURL", "CabService", new { fromSummaryPage = true },
                                                 new { @class = "govuk-link", @aria_label = "Change digital identity and attribute service provider’s website address" })
                                    </dd>
                                </div>
                                <div class="govuk-summary-list__row">
                                    <dt class="govuk-summary-list__key">
                                        Company address details
                                    </dt>
                                    <dd class="govuk-summary-list__value">
                                        @HtmlExtensions.ToStringWithLineBreaks(Model.CompanyAddress)
                                    </dd>
                                    <dd class="govuk-summary-list__actions">
                                        @Html.ActionLink("Change", "CompanyAddress", "CabService", new { fromSummaryPage = true },
                                                 new { @class = "govuk-link", @aria_label = "Change company address details" })
                                    </dd>
                                </div>

                                <div class="govuk-summary-list__row">
                                    <dt class="govuk-summary-list__key">
                                        Roles certified
                                        against
                                    </dt>
                                    <dd class="govuk-summary-list__value">
                                        @foreach (var item in Model.RoleViewModel.SelectedRoles)
                                        {

                                            @item.RoleName
                                            <br>

                                        }
                                    </dd>
                                    <dd class="govuk-summary-list__actions">
                                        @Html.ActionLink("Change", "ProviderRoles", "CabService", new { fromSummaryPage = true },
                                                 new { @class = "govuk-link", @aria_label = "Change the roles from the UK digital identity and attributes trust framework that apply to the provider's service" })
                                    </dd>
                                </div>


                                <div class="govuk-summary-list__row">
                                    <dt class="govuk-summary-list__key">
                                        GPG44 quality of authenticator
                                    </dt>

                                    @if (Model.QualityLevelViewModel != null && Convert.ToBoolean(Model.HasGPG44))
                                    {
                                        <dd class="govuk-summary-list__value">
                                            @if (Model.QualityLevelViewModel.SelectedQualityofAuthenticators != null && Model.QualityLevelViewModel.SelectedQualityofAuthenticators.Count > 0)
                                            {
                                                @foreach (var item in Model.QualityLevelViewModel.SelectedQualityofAuthenticators)
                                                {
                                                    @item.Level
                                                    <br>
                                                }
                                            }
                                        </dd>
                                        <dd class="govuk-summary-list__actions">
                                            @Html.ActionLink("Change", "GPG44", "CabService", new { fromSummaryPage = true },
                                                     new { @class = "govuk-link", @aria_label = "Change GPG44 quality of authenticator" })
                                        </dd>


                                    }
                                    else
                                    {
                                        <dd class="govuk-summary-list__value">
                                            <div>None</div>
                                        </dd>
                                        <dd class="govuk-summary-list__actions">
                                            @Html.ActionLink("Change", "GPG44Input", "CabService", new { fromSummaryPage = true },
                                                     new { @class = "govuk-link", @aria_label = "Change has supplementary scheme" })
                                        </dd>
                                    }


                                </div>

                                <div class="govuk-summary-list__row">
                                    <dt class="govuk-summary-list__key">
                                        GPG44 level of protection
                                    </dt>

                                    @if (Model.QualityLevelViewModel != null && Convert.ToBoolean(Model.HasGPG44))
                                    {
                                        <dd class="govuk-summary-list__value">
                                            @if (Model.QualityLevelViewModel.SelectedLevelOfProtections != null && Model.QualityLevelViewModel.SelectedLevelOfProtections.Count > 0)
                                            {

                                                @foreach (var item in Model.QualityLevelViewModel.SelectedLevelOfProtections)
                                                {
                                                    @item.Level
                                                    <br>
                                                }
                                            }
                                        </dd>
                                        <dd class="govuk-summary-list__actions">
                                            @Html.ActionLink("Change", "GPG44", "CabService", new { fromSummaryPage = true },
                                                     new { @class = "govuk-link", @aria_label = "Change GPG44 level of protection" })
                                        </dd>

                                    }
                                    else
                                    {
                                        <dd class="govuk-summary-list__value">
                                            None
                                        </dd>
                                        <dd class="govuk-summary-list__actions">
                                            @Html.ActionLink("Change", "GPG44Input", "CabService", new { fromSummaryPage = true },
                                                     new { @class = "govuk-link", @aria_label = "Change GPG44 level of protection" })
                                        </dd>
                                    }

                                </div>

                                <div class="govuk-summary-list__row">
                                    <dt class="govuk-summary-list__key">
                                        GPG45 identity profiles
                                    </dt>

                                    @if (Model.IdentityProfileViewModel != null && Convert.ToBoolean(Model.HasGPG45))
                                    {
                                        <dd class="govuk-summary-list__value">
                                            @if (Model.IdentityProfileViewModel.SelectedIdentityProfiles != null && Model.IdentityProfileViewModel.SelectedIdentityProfiles.Count > 0)
                                            {
                                                @foreach (var item in Model.IdentityProfileViewModel.SelectedIdentityProfiles)
                                                {
                                                    @item.IdentityProfileName
                                                    <br>
                                                }
                                            }
                                        </dd>
                                        <dd class="govuk-summary-list__actions">
                                            @Html.ActionLink("Change", "GPG45", "CabService", new { fromSummaryPage = true },
                                                     new { @class = "govuk-link", @aria_label = "Change the identity profiles for the digital identity and attribute service provider's service" })
                                        </dd>

                                    }
                                    else
                                    {
                                        <dd class="govuk-summary-list__value">
                                            None
                                        </dd>
                                        <dd class="govuk-summary-list__actions">
                                            @Html.ActionLink("Change", "GPG45Input", "CabService", new { fromSummaryPage = true },
                                            new { @class = "govuk-link", @aria_label = "Change the identity profiles for the digital identity and attribute service provider's service" })
                                        </dd>
                                    }


                                </div>

                                <div class="govuk-summary-list__row">
                                    <dt class="govuk-summary-list__key">
                                        Supplementary schemes
                                    </dt>

                                    @if (Model.SupplementarySchemeViewModel != null && Convert.ToBoolean(Model.HasSupplementarySchemes))
                                    {
                                        <dd class="govuk-summary-list__value">
                                            @if (Model.SupplementarySchemeViewModel.SelectedSupplementarySchemes != null && Model.SupplementarySchemeViewModel.SelectedSupplementarySchemes.Count > 0)
                                            {

                                                @foreach (var item in Model.SupplementarySchemeViewModel.SelectedSupplementarySchemes)
                                                {
                                                    @item.SchemeName
                                                    <br>
                                                }
                                            }
                                        </dd>
                                        <dd class="govuk-summary-list__actions">
                                            @Html.ActionLink("Change", "SupplementarySchemes", "CabService", new { fromSummaryPage = true },
                                                     new { @class = "govuk-link", @aria_label = "Change relevant supplementary schemes" })
                                        </dd>
                                    }
                                    else
                                    {
                                        <dd class="govuk-summary-list__value">
                                            <div>None</div>
                                        </dd>
                                        <dd class="govuk-summary-list__actions">
                                            @Html.ActionLink("Change", "HasSupplementarySchemesInput", "CabService", new { fromSummaryPage = true },
                                                     new { @class = "govuk-link", @aria_label = "Change has supplementary scheme" })
                                        </dd>
                                    }


                                </div>

                                <div class="govuk-summary-list__row">
                                    <dt class="govuk-summary-list__key">
                                        Service provider's certificate of conformity
                                    </dt>
                                    <dd class="govuk-summary-list__value">
                                        <p class="govuk-body">
                                            <a href="/cab-service/submit-service/download-certificate?key=@Model.FileLink&filename=@Model.FileName" class="govuk-link" target="_blank">@Model.FileName  (Opens in a new tab)</a>
                                        </p>
                                    </dd>
                                    <dd class="govuk-summary-list__actions">
                                        @Html.ActionLink("Change", "CertificateUploadPage", "CabService", new { fromSummaryPage = true },
                                                 new { @class = "govuk-link", @aria_label = "Change service provider's certificate of conformity" })
                                    </dd>
                                </div>

                                <div class="govuk-summary-list__row">
                                    <dt class="govuk-summary-list__key">
                                        Date of issue
                                    </dt>
                                    <dd class="govuk-summary-list__value">
                                        @DateTimeExtensions.FormatDateTime(Model.ConformityIssueDate, "dd MMM yyyy")
                                    </dd>
                                    <dd class="govuk-summary-list__actions">
                                        @Html.ActionLink("Change", "ConfirmityIssueDate", "CabService",
                                                 new { fromSummaryPage = true }, new { @class = "govuk-link", @aria_label = "Change date of issue" })
                                    </dd>
                                </div>
                                <div class="govuk-summary-list__row">
                                    <dt class="govuk-summary-list__key">
                                        Date of expiry
                                    </dt>
                                    <dd class="govuk-summary-list__value">
                                        @DateTimeExtensions.FormatDateTime(Model.ConformityExpiryDate, "dd MMM yyyy")
                                    </dd>
                                    <dd class="govuk-summary-list__actions">
                                        @Html.ActionLink("Change", "ConfirmityExpiryDate", "CabService", new { fromSummaryPage = true }, new { @class = "govuk-link", @aria_label = "Change date of expiry" })
                                    </dd>
                                </div>

                            </dl>
                        </div>
                    </div>

                </div>
                <div class="govuk-grid-column-two-thirds">
                    <div class="govuk-warning-text">
                        <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
                        <strong class="govuk-warning-text__text">
                            <span class="govuk-visually-hidden">Warning</span>
                            If DSIT approves this submission, the information you have provided
                            will be publicly available
                        </strong>
                    </div>
                </div>
            </div>


            <button type="submit" data-prevent-double-click="true" class="govuk-button govuk-!-margin-top-6" data-module="govuk-button">
                Submit
            </button>
        </main>
    </div>

}

