@model DVSRegister.BusinessLogic.Models.CabTransferRequestDto;
@{
    ViewData["Title"] = "You are about to reject this reassignment request";
    Layout = "~/Views/Shared/_LayoutLoggedIn.cshtml";
}
<div class="govuk-width-container">
    @Html.ActionLink("Back", "ServiceDetails", "CabTransfer", new { serviceId = Model.ServiceId, fromCabId = Model.FromCabUser.CabId }, new { @class = "govuk-back-link" })
    <main class="govuk-main-wrapper">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <h1 class="govuk-heading-xl">You are about to reject this reassignment request</h1>
                <p class="govuk-body">
                    You are about to reject this request to reassign a service to your
                    Conformity Assessment Body (CAB).
                </p>
                <p class="govuk-body">
                    Provider:@Model.ProviderProfile.RegisteredName <br />
                    Service: @Model.Service.ServiceName <br />
                </p>
                <p class="govuk-body">
                   If you reject the request you will not be able to view or make changes to the
                    service record in the Conformity Assessment Body Service.
                </p>
                <p class="govuk-body">
                    If you wish to continue, please select 'Reject reassignment request'.
                </p>
                <p class="govuk-body">
                    If you do not wish to continue, please select 'Cancel' to return to 'Your service
                    provider profiles'
                </p>
                <div class="govuk-warning-text">
                    <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
                    <strong class="govuk-warning-text__text">
                        <span class="govuk-visually-hidden">Warning</span>
                        Once you reject this reassignment request, the action cannot be undone.
                    </strong>
                </div>

                @using (Html.BeginForm("RejectReAssignment", "CabTransfer", FormMethod.Post))
                {
                    @Html.Hidden("requestId", @Model?.Id)
                    @Html.Hidden("providerProfileId", @Model?.ProviderProfileId)
                    <div class="govuk-button-group">
                        <button type="submit" class="govuk-button" data-module="govuk-button">
                            Reject reassignment request
                        </button>
                        <a href="@( Url.Action("ServiceDetails", "CabTransfer", new { serviceId = Model.ServiceId, fromCabId = Model.FromCabUser.CabId }) )"
                        class="govuk-button govuk-button--secondary" role="button">Cancel</a>
                    </div>
                }
            </div>
        </div>
    </main>
</div>

