@using DVSRegister.CommonUtility
@using DVSRegister.CommonUtility.Models
@using DVSRegister.Extensions;
@using DVSRegister.BusinessLogic.Models.CAB;
@using DVSRegister.CommonUtility.Models.Enums;

@model ServiceDto

@foreach (var schemeMapping in Model.ServiceSupSchemeMapping)
{
   
    <div class="govuk-summary-card">
        <div class="govuk-summary-card__title-wrapper">
            <h2 class="govuk-summary-card__title">
                Supplementary codes: @schemeMapping.SupplementaryScheme.SchemeName
            </h2>
        </div>
        <div class="govuk-summary-card__content">
            <dl class="govuk-summary-list">

                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        GPG 45 identity profiles
                    </dt>
                    <dd class="govuk-summary-list__value">

                        @if (schemeMapping.SchemeGPG45Mapping != null && schemeMapping.SchemeGPG45Mapping.Count > 0)
                        {
                            var groupedProfiles = schemeMapping.SchemeGPG45Mapping
                            .GroupBy(profile => profile.IdentityProfile.IdentityProfileType)
                            .ToDictionary(group => group.Key, group => group.ToList())
                            .OrderBy(g => g.Key);

                            foreach (var group in groupedProfiles)
                            {
                                <strong>@group.Key</strong>
                                <br>
                                foreach (var identity in group.Value.OrderBy(c => c.IdentityProfile.IdentityProfileName))
                                {
                                    @identity.IdentityProfile.IdentityProfileName
                                    <br>
                                }
                                <br>
                            }
                        }
                        else
                        {
                            <div>@Constants.NullFieldsDisplay</div>
                        }

                    </dd>
                </div>


                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        GPG 44 quality of authentication
                    </dt>
                    <dd class="govuk-summary-list__value">


                        @if (schemeMapping.SchemeGPG44Mapping != null && schemeMapping.SchemeGPG44Mapping.Count > 0)
                        {
                            @foreach (var item in schemeMapping.SchemeGPG44Mapping.Where(x => x.QualityLevel.QualityType == QualityTypeEnum.Authentication))
                            {
                                @item.QualityLevel.Level
                                <br>
                            }
                        }
                        else
                        {
                            <div>@Constants.NullFieldsDisplay</div>
                            
                        }
                    </dd>

                   

                </div>

                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        GPG 44 quality of protection
                    </dt>
                    <dd class="govuk-summary-list__value">
                        @if (schemeMapping.SchemeGPG44Mapping != null && schemeMapping.SchemeGPG44Mapping.Count > 0)
                        {
                            @foreach (var item in schemeMapping.SchemeGPG44Mapping.Where(x => x.QualityLevel.QualityType == QualityTypeEnum.Protection))
                            {
                                @item.QualityLevel.Level
                                <br>
                            }
                        }
                        else
                        {
                            <div>@Constants.NullFieldsDisplay</div>
                           
                        }
                    </dd>
                 
                </div>

            </dl>
        </div>
    </div>


}