@model DVSRegister.Models.CabTransfer.ServiceManagementRequestsViewModel
@{
    var title      = ViewData["TabTitle"] as string;
    var isApproved = (ViewData["isApproved"] as bool? ?? false);
    var requestsList      = isApproved ? Model.CompletedRequests : Model.PendingRequests;
}

<h2 class="govuk-heading-l">@title</h2>

@foreach(var request in requestsList)
{
    <div class="govuk-summary-card">
        <div class="govuk-summary-card__title-wrapper">
            <h2 class="govuk-summary-card__title">
                Service details: @request.Service.ServiceName
            </h2>
        </div>
        <div class="govuk-summary-card__content">
            <dl class="govuk-summary-list">
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Registered name
                    </dt>
                    <dd class="govuk-summary-list__value">
                        @request.Service.Provider.RegisteredName
                    </dd>
                    <dd class="govuk-summary-list__actions">
                       
                        <a class="govuk-link" href="/cab-transfer/service-details?serviceId=@request.ServiceId&fromCabId=@request.FromCabUser.CabId">View service details<span class="govuk-visually-hidden"> Service details:  @request.Service.ServiceName</span></a>
                    </dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Reassignment
                    </dt>
                    <dd class="govuk-summary-list__value">
                        Reassign to @request.ToCab.CabName
                    </dd>
                    @if (!isApproved)
                    {
                        <dd class="govuk-summary-list__actions">
                            <ul class="govuk-summary-list__actions-list">
                                <li class="govuk-summary-list__actions-list-item">
                                    <a class="govuk-link" style="color:	#00703c" href="@( Url.Action("AboutToApproveReAssignment", "CabTransfer", new { requestId = request.Id}) )">Approve<span class="govuk-visually-hidden"> Approve reassignment</span></a>
                                </li>
                                <li class="govuk-summary-list__actions-list-item">
                                    <a class="govuk-link" style="color:	#d4351c" href="@( Url.Action("AboutToRejectReAssignment", "CabTransfer", new { requestId = request.Id }) )">Reject<span class="govuk-visually-hidden"> Reject reassignment</span></a>
                                </li>
                            </ul>                      
                         </dd>
                    }
                </div>   
            </dl>
        </div>
    </div>
}
