@model DVSRegister.Models.CAB.MFARegistrationViewModel
@{
    ViewData["Title"] = "Configure your authenticator app and sign in to your account";
    Layout = "~/Views/Shared/_Layout_CAB.cshtml";
    string qrCodeImageBase64 = DVSRegister.CommonUtility.Helper.GenerateQRCode(Model.SecretToken, Model.Email);
}

@using (Html.BeginForm("MFAConfirmationCheck", "Login", FormMethod.Post))
{
    <div class="govuk-width-container">
        <main id="main-content" class="govuk-main-wrapper">
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-two-thirds">
                    @if (!ViewData.ModelState.IsValid)
                    {
                        ViewData["Title"] = "Error: " + ViewData["Title"];
                        @await Html.PartialAsync("~/Views/PartialViews/_ErrorSummaryView.cshtml", Model)
                    }

                    <h1 class="govuk-heading-xl govuk-!-margin-top-8">Configure your authenticator app and sign in to your account</h1>

                    <h2 class="govuk-heading-m">1. Configure your authenticator app for the service</h2>

                    <p class="govuk-body">Once your authenticator app is installed on your device, open it and scan the QR code or manually enter the Secret Key. You will now
                        be able to use your authenticator app to sign in to your account.
                    </p>

                    <div>
                        <img src="data:image/png;base64, @qrCodeImageBase64" alt="QR Code for MFA Code" style="max-width: 200px; width: 30vw; height: auto; min-width: 100px;" />
                    </div>                    

                    <div class="govuk-inset-text">
                        <span class="govuk-visually-hidden">Important:</span>
                        Do not try to scan the QR code with a phone camera. You will need to scan the QR code once you open your authenticator app.
                    </div>

                    <p class="govuk-body"> Alternatively, you may use the following Secret Key for manual entry:  @Model.SecretToken</p>

                    <h2 class="govuk-heading-m">2. Use your authenticator app to sign in to your account</h2>

                    <p class="govuk-body">Once you have configured your authenticator app, a six-digit passcode will appear in the authenticator app which you should enter in the box below. This will enable you to
                        sign in to the service.</p>

                    <div class="govuk-form-group">
                        <label class="govuk-label" for="mfacode">
                        Enter the one-time multi-factor code shown in your authenticator app:
                        </label>
                        <div id="mfa-hint" class="govuk-hint">
                            This is a six-digit passcode. For example, 123456
                        </div>

                 

                    <div class="govuk-form-group @(Html.ViewData.ModelState.ContainsKey("MFACode") && Html.ViewData.ModelState["MFACode"].Errors.Count > 0 ? "govuk-form-group--error" : "")">
                        @Html.ValidationMessageFor(m => m.MFACode, "", new { @class = "govuk-error-message" })
                        @Html.TextBoxFor(m => m.MFACode, new { @class = "govuk-input govuk-input--width-10", id = "mfacode", name = "mfa-code", @aria_describedby = "mfa-hint" })
                    </div>

                    <button type="submit" class="govuk-button govuk-!-margin-top-2" data-module="govuk-button">
                        Continue
                    </button>
                </div>
            </div>
          </div>
        </main>
    </div>
}

