@using DVSRegister.CommonUtility.Models.Enums;
@model ConsentViewModel
@{
    ViewData["Title"] = "You are about to agree to proceed with your application to the register of digital identity and attribute services";
    Layout = "~/Views/Shared/_LayoutConsentPages.cshtml";
}

@{
    ViewData["HidePublishStatus"] = true;// setting variable to hide status field in partial view

}
@using (Html.BeginForm("ProceedApplicationGiveConsent", "Consent", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.token)
   
    <div class="govuk-width-container">
      
        <main id="main-content" class="govuk-main-wrapper" role="main">
            <div class="govuk-grid-row">

                <div class="govuk-grid-column-full">
                    @if (ViewData.ModelState.ErrorCount >0)
                    {
                        ViewData["Title"] = "Error: " + ViewData["Title"];
                        @await Html.PartialAsync("~/Views/PartialViews/_ErrorSummaryView.cshtml", Model)
                    }
                    <h1 class="govuk-heading-xl">
                        Accept or decline your invitation to join the register of digital identity and attribute services
                    </h1>
                    <p class="govuk-body">
                        To give your agreement, please select ‘Accept invitation’ to continue.
                    </p>
                    <p class="govuk-body">
                        If you choose not to start an application, please select ‘Decline invitation’.
                    </p>

                    <h2 class="govuk-heading-l">Certificate information </h2>                   
                    @await Html.PartialAsync("~/Views/Consent/PartialViews/_ServiceDetailsView.cshtml", Model.Service)

                    @if (@Model.Service.ServiceSupSchemeMapping != null && @Model.Service.ServiceSupSchemeMapping.Count > 0)
                    {
                        if ((@Model.Service.ServiceSupSchemeMapping.Any(mapping => mapping.SchemeGPG44Mapping != null && mapping.SchemeGPG44Mapping.Count > 0))
                        || (@Model.Service.ServiceSupSchemeMapping.Any(mapping => mapping.SchemeGPG45Mapping != null && mapping.SchemeGPG45Mapping.Count > 0)))
                        {                           
                                <h3 class="govuk-heading-m">Supplementary codes</h3>
                                @await Html.PartialAsync("~/Views/PartialViews/_SchemeMappingView.cshtml", Model.Service)                          
                        }
                    }
                    @if (Model.Service.ServiceType == ServiceTypeEnum.WhiteLabelled)
                    {                  
                            @await Html.PartialAsync("~/Views/PartialViews/_UnderpinningServiceDetailsView.cshtml", Model.Service)                      
                    }
                    <hr class="govuk-section-break govuk-section-break--m">            

                    <div class="govuk-button-group" id="submitvalidation">
                        <button type="submit" class="govuk-button" data-module="govuk-button" name="agree" value="accept">
                            Accept invitation
                        </button>
                        <button type="submit" class="govuk-button govuk-button--warning" data-module="govuk-button" name="agree" value="decline">
                            Decline invitation
                        </button>
                    </div>                  
                </div>
            </div>
        </main>
    </div>
}


