@using DVSRegister.BusinessLogic.Models.CAB;
@using DVSRegister.Extensions
@using DVSRegister.CommonUtility.Models;
@using DVSRegister.CommonUtility.Models.Enums;

@model ProviderProfileDto
@{
    ViewData["Title"] = "Provider overview";
    Layout = "~/Views/Shared/_LayoutLoggedIn.cshtml";
}

<div class="govuk-width-container">
    @Html.ActionLink("Back", "ListProviders", "Cab", null, new { @class = "govuk-back-link" })
    <main id="main-content" class="govuk-main-wrapper" role="main">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">

                <h1 class="govuk-heading-xl">
                    @Model.RegisteredName profile overview
                </h1>
            </div>
            <div class="govuk-grid-column-full">
                <div class="govuk-summary-card">
                    <div class="govuk-summary-card__title-wrapper">
                        <h2 class="govuk-summary-card__title">
                            Profile information
                        </h2>
                        <ul class="govuk-summary-card__actions">
                            <li class="govuk-summary-card__action">
                                <a class="govuk-link" href="/cab-service/profile-information?providerId=@Model.Id">View profile details <span class="govuk-visually-hidden"> of Provider @Model.RegisteredName</span></a>
                            </li>
                        </ul>
                    </div>
                    <div class="govuk-summary-card__content">
                        <dl class="govuk-summary-list">
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">
                                    Registered name
                                </dt>
                                <dd class="govuk-summary-list__value">
                                    @Model.RegisteredName
                                </dd>
                            </div>
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">
                                    Trading name
                                </dt>
                                <dd class="govuk-summary-list__value">
                                    @Model.TradingName
                                </dd>
                            </div>
                        </dl>
                    </div>
                </div>

                @if (Model.Services?.Any() == true)
                {
                    var publishedServicesCount = Model.Services
                    .Count(s => s.ServiceStatus == ServiceStatusEnum.Published && s.IsCurrent);

                    bool removeProvider = publishedServicesCount == 1 &&
                    Model.Services.All(s => s.ServiceStatus == ServiceStatusEnum.Removed ||
                    s.ServiceStatus == ServiceStatusEnum.Published || s.ServiceStatus == ServiceStatusEnum.CabAwaitingRemovalConfirmation);


                    foreach (var item in Model.Services.Where(s => s.IsCurrent))
                    {
                        <div class="govuk-summary-card">

                            <div class="govuk-summary-card__title-wrapper">
                                <h2 class="govuk-summary-card__title">
                                    Service details: @item.ServiceName
                                </h2>
                                <ul class="govuk-summary-card__actions">
                                    @if (item.ServiceStatus == ServiceStatusEnum.AmendmentsRequired)
                                    {
                                        <li class="govuk-summary-card__action">
                                            <a class="govuk-link" href="/cab-service/amend/service-amendments?serviceId=@item.Id">View service details <span class="govuk-visually-hidden"> of Service @item.ServiceName</span></a>
                                        </li>

                                    }
                                    else
                                    {
                                        <li class="govuk-summary-card__action">
                                            <a class="govuk-link" href="/cab-service/service-details?serviceKey=@item.ServiceKey">View service details <span class="govuk-visually-hidden"> of Service @item.ServiceName</span></a>
                                        </li>
                                    }
                                    @if (item.ServiceStatus == ServiceStatusEnum.Published)
                                    {
                                        string whatToRemove = removeProvider ? "provider" : "service";
                                        <li class="govuk-summary-card__action">
                                            <a class="govuk-link" href="/cab-service/remove/reason-for-removing?whatToRemove=@whatToRemove&providerid=@item.ProviderProfileId&serviceId=@item.Id">
                                                Request @whatToRemove removal <span class="govuk-visually-hidden"> of @whatToRemove @item.ServiceName</span>
                                            </a>
                                        </li>
                                    }
                                </ul>
                            </div>
                            <div class="govuk-summary-card__content">
                                <dl class="govuk-summary-list">
                                    <div class="govuk-summary-list__row">
                                        <dt class="govuk-summary-list__key">
                                            Submission date (GMT)
                                        </dt>
                                        <dd class="govuk-summary-list__value">
                                            @DateTimeExtensions.FormatDateTime(item.CreatedTime)                                            
                                        </dd>
                                    </div>
                                    <div class="govuk-summary-list__row">
                                        <dt class="govuk-summary-list__key">
                                            Status
                                        </dt>
                                        <dd class="govuk-summary-list__value">
                                            @HtmlExtensions.GetStyledStatusTag(item.CertificateReview, item.ServiceStatus)
                                        </dd>
                                    </div>
                                </dl>
                            </div>
                        </div>
                    }
                }
            </div>

            <div class="govuk-grid-column-two-thirds">

            @if(Model.Services == null || Model.Services.Count == 0)
            {               
                    <p class="govuk-body"><strong>No services have been submitted for this provider.</strong></p>
                    @Html.ActionLink("Submit a new service", "BeforeYouStart", "CabService", new { providerProfileId = Model.Id }, new { @class = "govuk-button", role = "button", draggable = "false", data_module = "govuk-button" })
            }
            else
            {

                    @Html.ActionLink("Add a new service", "BeforeYouStart", "CabService", new { providerProfileId = Model.Id}, new { @class = "govuk-button", role = "button", draggable = "false", data_module = "govuk-button" })
                }
            </div>
            
        </div>
    </main>
</div>

