@using DVSRegister.BusinessLogic.Models.CAB;
@using DVSRegister.Extensions
@using DVSRegister.CommonUtility.Models;
@model ServiceDto
@{
    ViewData["Title"] = "Northrow Limited";
    Layout = "~/Views/Shared/_LayoutLoggedIn.cshtml";
}

<div class="govuk-width-container">
    @Html.ActionLink("Back", "ProviderOverview", "Cab", new { providerId = Model.ProviderProfileId }, new { @class = "govuk-back-link" })
    <main class="govuk-main-wrapper">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">

                <h1 class="govuk-heading-xl">
                    Service @Model.ServiceNumber details
                </h1>
            </div>
            <div class="govuk-grid-column-full">
                <div class="govuk-summary-card">
                    <div class="govuk-summary-card__title-wrapper">
                        <p class="govuk-summary-card__title">
                            Service @Model.ServiceNumber details
                        </p>
                    </div>
                    <div class="govuk-summary-card__content">
                        <dl class="govuk-summary-list">
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">
                                    Name of service
                                </dt>
                                <dd class="govuk-summary-list__value">
                                   @Model.ServiceName
                                </dd>
                            </div>
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">
                                    Publication date
                                </dt>
                                <dd class="govuk-summary-list__value">
                                    @if (@Model.PublishedTime != null)
                                     @DateTimeExtensions.FormatDateTime(@Model.PublishedTime, "hh:mm tt; dd MMM yyyy")
                                </dd>
                            </div>
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">
                                    Status
                                </dt>
                                <dd class="govuk-summary-list__value">
                                    @if (Model.CertificateReview!= null && Model.ServiceStatus == ServiceStatusEnum.Submitted)
                                    {
                                        @HtmlExtensions.ToStyledStrongTag(Model.CertificateReview.CertificateReviewStatus)
                                    }
                                    else
                                    {
                                        @HtmlExtensions.ToStyledStrongTag(Model.ServiceStatus)
                                    }
                                </dd>
                            </div>
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">
                                    URL link to the service
                                </dt>
                                <dd class="govuk-summary-list__value">
                                    @Model.WebsiteAddress
                                </dd>
                            </div>
                           
                           
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">
                                    Company address details
                                </dt>
                                <dd class="govuk-summary-list__value">
                                    @HtmlExtensions.ToStringWithLineBreaks(Model.CompanyAddress)
                                </dd>
                            </div>
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">
                                    Roles certified against
                                </dt>
                                <dd class="govuk-summary-list__value">
                                   @foreach(var item in Model.ServiceRoleMapping)
                                    {
                                        @item.Role.RoleName <br/>
                                    }
                                </dd>
                            </div>

                            @if (Model.HasGPG44 &&  Model.ServiceQualityLevelMapping!=null)
                            {
                                <div class="govuk-summary-list__row">
                                    <dt class="govuk-summary-list__key">
                                        GPG44 quality of authenticator
                                    </dt>
                                    <dd class="govuk-summary-list__value">
                                        @foreach (var item in Model.ServiceQualityLevelMapping.Where(s=>s.QualityLevel.QualityType == QualityTypeEnum.Authentication))
                                        {
                                            @item.QualityLevel.Level <br />
                                        }
                                    </dd>
                                </div>

                                <div class="govuk-summary-list__row">
                                    <dt class="govuk-summary-list__key">
                                        GPG44 level of protection
                                    </dt>
                                    <dd class="govuk-summary-list__value">
                                        @foreach (var item in Model.ServiceQualityLevelMapping.Where(s => s.QualityLevel.QualityType == QualityTypeEnum.Protection))
                                        {
                                            @item.QualityLevel.Level <br />
                                        }
                                    </dd>
                                </div>
                                
                            }

                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">
                                    GPG45 identity profiles
                                </dt>
                                <dd class="govuk-summary-list__value">
                                    @foreach (var item in Model.ServiceIdentityProfileMapping)
                                    {
                                        @item.IdentityProfile.IdentityProfileName <br />
                                    }
                                </dd>
                            </div>

                            @if(Model.HasSupplementarySchemes && Model.ServiceSupSchemeMapping!=null)
                            {
                                <div class="govuk-summary-list__row">
                                    <dt class="govuk-summary-list__key">
                                        Supplementary schemes
                                    </dt>
                                    <dd class="govuk-summary-list__value">
                                        @foreach (var item in Model.ServiceSupSchemeMapping)
                                        {
                                            @item.SupplementaryScheme.SchemeName <br />
                                        }
                                    </dd>
                                </div>
                            }
                           
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">
                                    Service provider’s certificate
                                    of conformity
                                </dt>
                                <dd class="govuk-summary-list__value">
                                   @Model.FileName
                                </dd>
                            </div>
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">
                                    Date of issue
                                </dt>
                                <dd class="govuk-summary-list__value">
                                    @DateTimeExtensions.FormatDateTime(Model.ConformityIssueDate, "dd MMM yyyy")
                                </dd>
                            </div>
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">
                                    Date of expiry
                                </dt>
                                <dd class="govuk-summary-list__value">
                                    @DateTimeExtensions.FormatDateTime(@Model.ConformityExpiryDate, "dd MMM yyyy")
                                </dd>
                            </div>
                        </dl>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>

