@model DVSRegister.Models.CAB.ProfileSummaryViewModel
@using DVSRegister.Controllers
@{
    ViewData["Title"] ="Registered Company Name";
    Layout = "~/Views/Shared/_LayoutLoggedIn.cshtml";
}

@{
    bool isValid = true;
}
@using (Html.BeginForm(nameof(CabController.RegisteredNameValidation), "Cab", FormMethod.Post))
{
    @Html.HiddenFor(m => m.FromSummaryPage, new { @Value = ViewBag.fromSummaryPage })
    <div class="govuk-width-container">
        @Html.ActionLink("Back", "BeforeYouStart", "CabProvider", null, new { @class = "govuk-back-link" })
        <main class="govuk-main-wrapper">
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-two-thirds">
                    <h1 class="govuk-heading-xl"> The digital identity and attribute service provider’s registered name</h1>

                    @if (Html.ViewData?.ModelState.ContainsKey("RegisteredName") == true && Html.ViewData.ModelState["RegisteredName"].Errors.Count > 0)
                    {
                        isValid = false;
                        ViewData["Title"] = "Error: " + ViewData["Title"];
                        @await Html.PartialAsync("~/Views/PartialViews/_SpecificErrorsView.cshtml",
                                 new Tuple<string, IEnumerable<Microsoft.AspNetCore.Mvc.ModelBinding.ModelError>>("RegisteredName", Html.ViewData.ModelState["RegisteredName"]?.Errors))
                        
                    }
                    <p class="govuk-body">This registered name will be publicly displayed on the register of digital identity and attribute service providers. This should match the registered name on the certificate.</p>

                    @if(!isValid)
                    {
                         <div class="govuk-form-group govuk-form-group--error">
                            <h1 class="govuk-label-wrapper">
                                <label class="govuk-label govuk-label--m" for="registeredname">
                                    Registered Name
                                </label>
                            </h1>
                            <p id="registeredname-error" class="govuk-error-message">
                                <span class="govuk-visually-hidden">Error:</span>  @Html.ValidationMessageFor(m => m.RegisteredName, "", new { @class = "govuk-error-message" })
                            </p>
                            @Html.TextBoxFor(m => m.RegisteredName, new
                                {
                                    @class = "govuk-input govuk-input--error govuk-!-width-three-quarters govuk-input",
                                    id = "registeredname",
                                    name = "registered-name",
                                    aria_describedby = "registeredname-error"
                                })
                        </div>
                    }
                    else
                    {
                        <div class="govuk-form-group">
                            <h1 class="govuk-label-wrapper">
                                <label class="govuk-label govuk-label--m" for="registeredname">
                                    Registered Name
                                </label>
                            </h1>
                            @Html.TextBoxFor(m => m.RegisteredName, new 
                                { @class = "govuk-input govuk-input govuk-!-width-three-quarters",
                                id = "registeredname",
                                name = "registered-name"
                               })
                        </div>
                    }
                   
                    <button type="submit" class="govuk-button" data-module="govuk-button">
                        Continue
                    </button>
                </div>
            </div>
        </main>
    </div>
}
