@model DVSRegister.Models.CompanyViewModel
@{
    ViewData["Title"] = "Provide an overview of your company";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="govuk-width-container">
    @Html.ActionLink("Back", "Country", "PreRegistration", null, new { @class = "govuk-back-link" })
    @if (ViewData.ModelState.ErrorCount > 0)
    {
        ViewData["Title"] = "Error: " + ViewData["Title"];
        @await Html.PartialAsync("~/Views/PartialViews/_ErrorSummaryView.cshtml", Model)
    }
    <main class="govuk-main-wrapper">
        <div class="govuk-grid-row">

            <div class="govuk-grid-column-two-thirds">

                <span class="govuk-caption-l">
                    Page 4 of 5
                    <span class="govuk-visually-hidden"> of the pre registration application</span>
                </span>
                <h1 class="govuk-heading-xl">Provide an overview of your company</h1>
                <p class="govuk-body">Please provide us with information about your company.</p>

                <div class="alert">
                    <h2 class="govuk-heading-s">
                        Some of this information will be made public
                    </h2>
                    <p class="govuk-body">
                        If your application is successful, your company’s registered name and trading name(s) will be publicly available on the register of digital identity and attribute service providers.
                    </p>
                </div>

                @using (Html.BeginForm("SaveCompany", "PreRegistration", FormMethod.Post))
                {

                    @if (Html.ViewData.ModelState.ContainsKey("RegisteredCompanyName") && Html.ViewData.ModelState["RegisteredCompanyName"].Errors.Count > 0)
                    {
                        <div class="govuk-form-group govuk-form-group--error">
                            <label class="govuk-label govuk-label--m" for="registeredcompanyname">
                                Registered name
                            </label>
                            <div id="registered-name-hint" class="govuk-hint">
                                For example, YOUR COMPANY UK SERVICES LTD
                            </div>
                            <p class="govuk-error-message" id="registeredcompanyname-error">
                                <span class="govuk-visually-hidden">Error: </span>@Html.ValidationMessageFor(m => m.RegisteredCompanyName, "", new { @class = "govuk-error-message" })
                            </p>
                            @Html.TextBoxFor(m => m.RegisteredCompanyName, new { @class = "govuk-input govuk-input--error govuk-!-width-three-quarters", id = "registeredcompanyname", name = "eventName", aria_describedby = "registered-name-hint registeredcompanyname-error" })
                        </div>
                    }
                    else
                    {
                        <div class="govuk-form-group">
                            <label class="govuk-label govuk-label--m" for="registeredcompanyname">
                                Registered name
                            </label>
                            <div id="registered-name-hint" class="govuk-hint">
                                For example, YOUR COMPANY UK SERVICES LTD
                            </div>
                            @Html.TextBoxFor(m => m.RegisteredCompanyName, new { @class = "govuk-input govuk-input govuk-!-width-three-quarters", id = "registeredcompanyname", name = "eventName", aria_describedby = "registered-name-hint" })
                        </div>
                    }

                    @if (Html.ViewData.ModelState.ContainsKey("TradingName") && Html.ViewData.ModelState["TradingName"].Errors.Count > 0)
                    {
                        <div class="govuk-form-group govuk-form-group--error">
                            <label class="govuk-label govuk-label--m" for="tradingname">
                                Trading name(s)
                            </label>
                            <div id="trading-name-hint" class="govuk-hint">
                                For example, YOUR COMPANY UK SERVICES LTD
                            </div>
                            <p class="govuk-error-message" id="tradingname-error">
                                <span class="govuk-visually-hidden">Error: </span>@Html.ValidationMessageFor(m => m.TradingName, "", new { @class = "govuk-error-message" })
                            </p>
                            @Html.TextBoxFor(m => m.TradingName, new { @class = "govuk-input govuk-input govuk-input--error govuk-!-width-three-quarters", id = "tradingname", name = "tradingName", aria_describedby = "trading-name-hint tradingname-error" })
                        </div>
                    }
                    else
                    {
                        <div class="govuk-form-group">
                            <label class="govuk-label govuk-label--m" for="tradingname">
                                Trading name(s)
                            </label>
                            <div id="trading-name-hint" class="govuk-hint">
                                For example, YOUR COMPANY UK SERVICES LTD
                            </div>
                            @Html.TextBoxFor(m => m.TradingName, new { @class = "govuk-input govuk-input govuk-!-width-three-quarters", id = "tradingname", name = "tradingName", aria_describedby = "trading-name-hint" })
                        </div>
                    }


                    @if (Html.ViewData.ModelState.ContainsKey("CompanyRegistrationNumber") && Html.ViewData.ModelState["CompanyRegistrationNumber"].Errors.Count > 0)
                    {
                        <div class="govuk-form-group govuk-form-group--error">
                            <label class="govuk-label govuk-label--m" for="companyregistrationnumber">
                                Companies House or charity registration number
                            </label>
                            <div id="companies-house-hint" class="govuk-hint">
                                <p>This number should allow for checks against Companies House.</p>
                                <p>In the UK it is 8 characters. For example, 01234567 or AC012345.</p>
                            </div>

                            <p class="govuk-error-message" id="companyregistrationnumber-error">
                                <span class="govuk-visually-hidden">Error: </span>@Html.ValidationMessageFor(m => m.CompanyRegistrationNumber, "", new { @class = "govuk-error-message" })
                            </p>
                            @Html.TextBoxFor(m => m.CompanyRegistrationNumber, new { @class = "govuk-input govuk-input--error govuk-input--width-10", id = "companyregistrationnumber", name = "companyRegistration", aria_describedby = "companies-house-hint companyregistrationnumber-error" })
                        </div>
                    }
                    else
                    {
                        <div class="govuk-form-group">
                            <label class="govuk-label govuk-label--m" for="companyregistrationnumber">
                                Companies House or charity registration number
                            </label>
                            <div id="companies-house-hint" class="govuk-hint">
                                <p>This number should allow for checks against Companies House.</p>
                                <p>In the UK it is 8 characters. For example, 01234567 or AC012345.</p>
                            </div>
                            @Html.TextBoxFor(m => m.CompanyRegistrationNumber, new { @class = "govuk-input govuk-input--width-10", id = "companyregistrationnumber", name = "companyRegistration", aria_describedby = "companies-house-hint" })
                        </div>
                    }


                    @if (Html.ViewData.ModelState.ContainsKey("HasParentCompany") && Html.ViewData.ModelState["HasParentCompany"].Errors.Count > 0)
                    {
                        <div class="govuk-form-group govuk-form-group--error">
                            <fieldset class="govuk-fieldset">
                                <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                                    Do you have a parent company outside the UK?
                                </legend>
                                <p class="govuk-error-message" id="companyregistrationnumber-error">
                                    <span class="govuk-visually-hidden">Error: </span>@Html.ValidationMessageFor(m => m.HasParentCompany, "", new { @class = "govuk-error-message" })
                                </p>

                                <div class="govuk-radios" data-module="govuk-radios">
                                    <div class="govuk-radios__item">
                                        @Html.RadioButtonFor(m => m.HasParentCompany, true, new { @class = "govuk-radios__input", id = "hasparentcompany", @data_aria_controls = "conditional-contact" })
                                        <label class="govuk-label govuk-radios__label" for="hasparentcompany">
                                            Yes <span class="govuk-visually-hidden">
                                                If selected, please enter the following additional details.
                                            </span>
                                        </label>
                                    </div>
                                    <div class="govuk-radios__conditional" id="conditional-contact">

                                        @if (Html.ViewData.ModelState.ContainsKey("ParentCompanyRegisteredName") && Html.ViewData.ModelState["ParentCompanyRegisteredName"].Errors.Count > 0)
                                        {
                                            <div class="govuk-form-group govuk-form-group--error">
                                                <label class="govuk-label govuk-label--m" for="parentcompanyregisteredname">
                                                    Registered name of parent company
                                                </label>
                                                <div id="parent-company-hint" class="govuk-hint">
                                                    For example, YOUR COMPANY SERVICES LTD
                                                </div>

                                                <p class="govuk-error-message" id="companyregistrationnumber-error">
                                                    <span class="govuk-visually-hidden">Error: </span>@Html.ValidationMessageFor(m => m.ParentCompanyRegisteredName, "", new { @class = "govuk-error-message" })
                                                </p>
                                                @Html.TextBoxFor(m => m.ParentCompanyRegisteredName, new { @class = "govuk-input govuk-input--error govuk-!-width-three-quarters", id = "parentcompanyregisteredname", name = "parentCompanyRegisteredName", aria_describedby = "parent-company-hint parentcompanyregisteredname-error" })
                                            </div>
                                        }
                                        else
                                        {
                                            <div class="govuk-form-group">
                                                <label class="govuk-label govuk-label--m" for="parentcompanyregisteredname">
                                                    Registered name of parent company
                                                </label>
                                                <div id="parent-company-hint" class="govuk-hint">
                                                    For example, YOUR COMPANY SERVICES LTD
                                                </div>

                                                @Html.TextBoxFor(m => m.ParentCompanyRegisteredName, new { @class = "govuk-input govuk-input govuk-!-width-three-quarters", id = "parentcompanyregisteredname", name = "parentCompanyRegisteredName", aria_describedby = "parent-company-hint" })
                                            </div>
                                        }

                                        @if (Html.ViewData.ModelState.ContainsKey("ParentCompanyLocation") && Html.ViewData.ModelState["ParentCompanyLocation"].Errors.Count > 0)
                                        {
                                            <div class="govuk-form-group govuk-form-group--error">
                                                <label class="govuk-label govuk-label--m" for="parentcompanylocation">
                                                    Country of parent company
                                                </label>
                                                <p class="govuk-error-message" id="parentcompanyregisteredname-error">
                                                    <span class="govuk-visually-hidden">Error: </span>@Html.ValidationMessageFor(m => m.ParentCompanyLocation, "", new { @class = "govuk-error-message" })
                                                </p>

                                                @Html.TextBoxFor(m => m.ParentCompanyLocation, new { @class = "govuk-input govuk-input--error govuk-!-width-three-quarters", id = "parentcompanylocation", @name = "parentCompanyLocation" })

                                            </div>
                                        }
                                        else
                                        {
                                            <div class="govuk-form-group">
                                                <label class="govuk-label govuk-label--m" for="parentcompanylocation">
                                                    Country of parent company
                                                </label>

                                                @Html.TextBoxFor(m => m.ParentCompanyLocation, new { @class = "govuk-input govuk-!-width-three-quarters", id = "parentcompanylocation", @name = "parentCompanyLocation" })

                                            </div>
                                        }
                                    </div>
                                    <div class="govuk-radios__item">
                                        @Html.RadioButtonFor(m => m.HasParentCompany, false, new { @class = "govuk-radios__input", id = "parent-company-no" })
                                        <label class="govuk-label govuk-radios__label" for="parent-company-no">
                                            No
                                        </label>
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                    }
                    else
                    {
                        <div class="govuk-form-group">
                            <fieldset class="govuk-fieldset">
                                <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                                    Do you have a parent company outside the UK?
                                </legend>
                                <p class="govuk-error-message" id="companyregistrationnumber-error">
                                    <span class="govuk-visually-hidden">Error: </span>@Html.ValidationMessageFor(m => m.HasParentCompany, "", new { @class = "govuk-error-message" })
                                </p>

                                <div class="govuk-radios" data-module="govuk-radios">
                                    <div class="govuk-radios__item">
                                        @Html.RadioButtonFor(m => m.HasParentCompany, true, new { @class = "govuk-radios__input", id = "parent-company-yes", @data_aria_controls = "conditional-contact" })
                                        <label class="govuk-label govuk-radios__label" for="parent-company-yes">
                                            Yes <span class="govuk-visually-hidden">
                                                If selected, please enter the following additional details.
                                            </span>
                                        </label>
                                    </div>
                                    <div class="govuk-radios__conditional" id="conditional-contact">
                                        @if (Html.ViewData.ModelState.ContainsKey("ParentCompanyRegisteredName") && Html.ViewData.ModelState["ParentCompanyRegisteredName"].Errors.Count > 0)
                                        {
                                            <div class="govuk-form-group govuk-form-group--error">
                                                <label class="govuk-label govuk-label--m" for="parent-company-registered-name">
                                                    Registered name of parent company
                                                </label>
                                                <div id="parent-company-hint" class="govuk-hint">
                                                    For example, YOUR COMPANY SERVICES LTD
                                                </div>

                                                <p class="govuk-error-message" id="parentcompanyregisteredname-error">
                                                    <span class="govuk-visually-hidden">Error: </span>@Html.ValidationMessageFor(m => m.ParentCompanyRegisteredName, "", new { @class = "govuk-error-message" })
                                                </p>
                                                @Html.TextBoxFor(m => m.ParentCompanyRegisteredName, new { @class = "govuk-input govuk-input--error govuk-!-width-three-quarters", id = "parent-company-registered-name", name = "parentCompanyRegisteredName", aria_describedby = "parent-company-hint parentcompanyregisteredname-error" })
                                            </div>
                                        }
                                        else
                                        {
                                            <div class="govuk-form-group">
                                                <label class="govuk-label govuk-label--m" for="parent-company-registered-name">
                                                    Registered name of parent company
                                                </label>
                                                <div id="parent-company-hint" class="govuk-hint">
                                                    For example, YOUR COMPANY SERVICES LTD
                                                </div>

                                                @Html.TextBoxFor(m => m.ParentCompanyRegisteredName, new { @class = "govuk-input govuk-input govuk-!-width-three-quarters", id = "parent-company-registered-name", name = "parentCompanyRegisteredName", aria_describedby = "parent-company-hint" })
                                            </div>
                                        }

                                        @if (Html.ViewData.ModelState.ContainsKey("ParentCompanyLocation") && Html.ViewData.ModelState["ParentCompanyLocation"].Errors.Count > 0)
                                        {
                                            <div class="govuk-form-group govuk-form-group--error">
                                                <label class="govuk-label govuk-label--m" for="parent-company-location">
                                                    Country of parent company
                                                </label>
                                                <p class="govuk-error-message" id="parentcompanylocation-error">
                                                    <span class="govuk-visually-hidden">Error: </span>@Html.ValidationMessageFor(m => m.ParentCompanyLocation, "", new { @class = "govuk-error-message" })
                                                </p>

                                                @Html.TextBoxFor(m => m.ParentCompanyLocation, new { @class = "govuk-input govuk-input--error govuk-!-width-three-quarters", id = "parent-company-location", @name = "parentCompanyLocation", aria_describedby = "parentcompanylocation-error" })

                                            </div>
                                        }
                                        else
                                        {
                                            <div class="govuk-form-group">
                                                <label class="govuk-label govuk-label--m" for="parent-company-location">
                                                    Country of parent company
                                                </label>

                                                @Html.TextBoxFor(m => m.ParentCompanyLocation, new { @class = "govuk-input govuk-!-width-three-quarters", id = "parent-company-location", @name = "parentCompanyLocation" })

                                            </div>
                                        }
                                    </div>
                                    <div class="govuk-radios__item">
                                        @Html.RadioButtonFor(m => m.HasParentCompany, false, new { @class = "govuk-radios__input", id = "parent-company-no" })
                                        <label class="govuk-label govuk-radios__label" for="parent-company-no">
                                            No
                                        </label>
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                    }



                    <button type="submit" class="govuk-button govuk-!-margin-top-2" data-module="govuk-button">
                        Save and continue
                    </button>
                }
            </div>
        </div>
    </main>
</div>
