@model DVSRegister.Models.ContactViewModel
@{
    ViewData["Title"] = "Provide contact details of the application sponsor";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@using (Html.BeginForm("SaveContact", "PreRegistration", FormMethod.Post))
{
    @Html.HiddenFor(m => m.FromSummaryPage, new { @Value = ViewBag.fromSummaryPage })
    <div class="govuk-width-container">

        @Html.ActionLink("Back", "SelectApplicationSponsor", "PreRegistration", null, new { @class = "govuk-back-link" })
        @if (ViewData.ModelState.ErrorCount > 0)
        {
            ViewData["Title"] = "Error: " + ViewData["Title"];
            @await Html.PartialAsync("~/Views/PartialViews/_ErrorSummaryView.cshtml", Model)
        }
        <main class="govuk-main-wrapper">
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-two-thirds">
                    <span class="govuk-caption-l">Page 2 of 5 <span class="govuk-visually-hidden"> of the pre registration application</span></span>
                    <h1 class="govuk-heading-xl form-title">Provide contact details of the application sponsor</h1>
                    <details class="govuk-details">
                        <summary class="govuk-details__summary">
                            <span class="govuk-details__summary-text">
                                Who is the application sponsor
                            </span>
                        </summary>
                        <div class="govuk-details__text">
                            The application sponsor must be an individual within your company who understands the requirements of being a registered digital identity and attribute service provider and is authorised to approve this application. They must have knowledge of the services that will be undergoing certification and have knowledge of the <a href="https://www.gov.uk/government/publications/uk-digital-identity-and-attributes-trust-framework-beta-version#full-publication-update-history">UK digital identity and attributes trust framework (1.0 publication)</a>.
                        </div>
                    </details>

                    @if (Html.ViewData.ModelState.ContainsKey("FullName") && Html.ViewData.ModelState["FullName"].Errors.Count > 0)
                    {

                        <div class="govuk-form-group govuk-form-group--error">
                            <label class="govuk-label govuk-label--m" for="sponsor-fullname">
                                Full name of application sponsor
                            </label>
                            <p class="govuk-error-message" id="fullname-error">
                                <span class="govuk-visually-hidden">Error: </span>@Html.ValidationMessageFor(m => m.FullName, "", new { @class = "govuk-error-message" })
                            </p>
                            @Html.TextBoxFor(m => m.FullName, new { @class = "govuk-input govuk-input--error", id = "sponsor-fullname", name = "eventName", aria_describedby = "fullname-error" })
                        </div>
                    }
                    else
                    {
                        <div class="govuk-form-group">
                            <label class="govuk-label govuk-label--m" for="sponsor-fullname">
                                Full name of application sponsor
                            </label>

                            @Html.TextBoxFor(m => m.FullName, new { @class = "govuk-input", id = "sponsor-fullname", name = "eventName" })
                        </div>
                    }

                    @if (Html.ViewData.ModelState.ContainsKey("JobTitle") && Html.ViewData.ModelState["JobTitle"].Errors.Count > 0)
                    {
                        <div class="govuk-form-group govuk-form-group--error">
                            <label class="govuk-label govuk-label--m" for="sponsor-job-title">
                                Job title of application sponsor
                            </label>
                            <p class="govuk-error-message" id="jobtitle-error">
                                <span class="govuk-visually-hidden">Error: </span>@Html.ValidationMessageFor(m => m.JobTitle, "", new { @class = "govuk-error-message" })
                            </p>
                            @Html.TextBoxFor(m => m.JobTitle, new { @class = "govuk-input govuk-input--error", id = "sponsor-job-title", name = "eventName", aria_describedby = "jobtitle-error" })
                        </div>
                    }
                    else
                    {
                        <div class="govuk-form-group">
                            <label class="govuk-label govuk-label--m" for="sponsor-job-title">
                                Job title of application sponsor
                            </label>

                            @Html.TextBoxFor(m => m.JobTitle, new { @class = "govuk-input", id = "sponsor-job-title", name = "eventName" })
                        </div>
                    }


                    @if (Html.ViewData.ModelState.ContainsKey("Email") && Html.ViewData.ModelState["Email"].Errors.Count > 0)
                    {
                        <div class="govuk-form-group govuk-form-group--error">
                            <label class="govuk-label govuk-label--m" for="sponsor-email">
                                Email address of application sponsor
                            </label>
                            <p class="govuk-error-message" id="email-error">
                                <span class="govuk-visually-hidden">Error: </span>@Html.ValidationMessageFor(m => m.Email, "", new { @class = "govuk-error-message" })
                            </p>
                            @Html.TextBoxFor(m => m.Email, new { @class = "govuk-input govuk-input--error", id = "sponsor-email", name = "eventName", aria_describedby = "email-error" })
                        </div>
                    }
                    else
                    {
                        <div class="govuk-form-group">
                            <label class="govuk-label govuk-label--m" for="sponsor-email">
                                Email address of application sponsor
                            </label>
                            @Html.TextBoxFor(m => m.Email, new { @class = "govuk-input", id = "sponsor-email", name = "eventName" })
                        </div>
                    }


                    @if (Html.ViewData.ModelState.ContainsKey("TelephoneNumber") && Html.ViewData.ModelState["TelephoneNumber"].Errors.Count > 0)
                    {
                        <div class="govuk-form-group govuk-form-group--error">
                            <label class="govuk-label govuk-label--m" for="sponsor-telephone">
                                Telephone number of application sponsor
                            </label>
                            <p class="govuk-error-message" id="telephonenumber-error">
                                <span class="govuk-visually-hidden">Error: </span>@Html.ValidationMessageFor(m => m.TelephoneNumber, "", new { @class = "govuk-error-message" })
                            </p>
                            @Html.TextBoxFor(m => m.TelephoneNumber, new { @class = "govuk-input govuk-input--error govuk-input--width-10", id = "sponsor-telephone", name = "eventName", aria_describedby = "telephonenumber-error" })
                        </div>
                    }
                    else
                    {
                        <div class="govuk-form-group">
                            <label class="govuk-label govuk-label--m" for="sponsor-telephone">
                                Telephone number of application sponsor
                            </label>

                            @Html.TextBoxFor(m => m.TelephoneNumber, new { @class = "govuk-input govuk-input--width-10", id = "sponsor-telephone", name = "eventName" })
                        </div>
                    }


                    <button type="submit" class="govuk-button govuk-!-margin-top-2" data-module="govuk-button">
                        Continue
                    </button>
                </div>
            </div>
        </main>
    </div>
}

