@model DVSRegister.Models.SummaryViewModel
@{
    ViewData["Title"] = "Check your answers before sending your application";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("SaveSummaryAndSubmit", "PreRegistration", FormMethod.Post))
{
    bool hideCountries = ViewBag.HideCountries ?? false;
    bool hasParentCompany = Convert.ToBoolean(@Model.CompanyViewModel.HasParentCompany);
    string hasParentCompanyValue = hasParentCompany ? "Yes" : "No";
    bool isApplicationSponsor = Convert.ToBoolean(Model.IsApplicationSponsor);
    string redirectView = isApplicationSponsor ? "Contact" : "Sponsor";
    <div class="govuk-width-container">
        @Html.ActionLink("Back", "Company", "PreRegistration", null, new { @class = "govuk-back-link" })
        @if (Html.ViewData?.ModelState.ContainsKey("ConfirmAccuracy") == true && Html.ViewData.ModelState["ConfirmAccuracy"].Errors.Count > 0)
        {
            ViewData["Title"] = "Error: " + ViewData["Title"];
            @await Html.PartialAsync("~/Views/PartialViews/_SpecificErrorsView.cshtml",
                     new Tuple<string, IEnumerable<Microsoft.AspNetCore.Mvc.ModelBinding.ModelError>>("ConfirmAccuracy", Html.ViewData.ModelState["ConfirmAccuracy"]?.Errors))
        }
        <main class="govuk-main-wrapper">
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-two-thirds">
                    <h1 class="govuk-heading-xl">Check your answers before sending your application</h1>

                    @if (!isApplicationSponsor)
                    {
                        <div class="govuk-summary-card">
                            <div class="govuk-summary-card__title-wrapper">
                                <h2 class="govuk-summary-card__title">
                                    Contact details of the application sponsor
                                </h2>
                            </div>
                            <div class="govuk-summary-card__content">
                                <dl class="govuk-summary-list">
                                    <div class="govuk-summary-list__row">
                                        <dt class="govuk-summary-list__key">
                                            Full name
                                        </dt>
                                        <dd class="govuk-summary-list__value">
                                            @Model.SponsorViewModel.SponsorFullName
                                        </dd>
                                        <dd class="govuk-summary-list__actions">
                                            @Html.ActionLink("Change", "Sponsor", "PreRegistration", new { fromSummaryPage = true }, new { @class = "govuk-link", aria_label = "change application sponsor full name" })
                                        </dd>
                                    </div>
                                    <div class="govuk-summary-list__row">
                                        <dt class="govuk-summary-list__key">
                                            Job title
                                        </dt>
                                        <dd class="govuk-summary-list__value">
                                            @Model.SponsorViewModel.SponsorJobTitle
                                        </dd>
                                        <dd class="govuk-summary-list__actions">
                                            @Html.ActionLink("Change", "Sponsor", "PreRegistration", new { fromSummaryPage = true }, new { @class = "govuk-link", aria_label = "change application sponsor job title" })
                                        </dd>
                                    </div>
                                    <div class="govuk-summary-list__row">
                                        <dt class="govuk-summary-list__key">
                                            Email
                                        </dt>
                                        <dd class="govuk-summary-list__value">
                                            @Model.SponsorViewModel.SponsorEmail
                                        </dd>
                                        <dd class="govuk-summary-list__actions">
                                            @Html.ActionLink("Change", "Sponsor", "PreRegistration", new { fromSummaryPage = true }, new { @class = "govuk-link", aria_label = "change application sponsor email" })
                                        </dd>
                                    </div>
                                    <div class="govuk-summary-list__row">
                                        <dt class="govuk-summary-list__key">
                                            Telephone number
                                        </dt>
                                        <dd class="govuk-summary-list__value">
                                            @Model.SponsorViewModel.SponsorTelephoneNumber
                                        </dd>
                                        <dd class="govuk-summary-list__actions">
                                            @Html.ActionLink("Change", "Sponsor", "PreRegistration", new { fromSummaryPage = true }, new { @class = "govuk-link", aria_label = "change application sponsor telephone number" })
                                        </dd>
                                    </div>
                                </dl>
                            </div>
                        </div>
                    }

                    <div class="govuk-summary-card">
                        <div class="govuk-summary-card__title-wrapper">
                            <h2 class="govuk-summary-card__title">
                                Your contact details
                            </h2>
                        </div>
                        <div class="govuk-summary-card__content">
                            <dl class="govuk-summary-list">
                                <div class="govuk-summary-list__row">
                                    <dt class="govuk-summary-list__key">
                                        Full name
                                    </dt>
                                    <dd class="govuk-summary-list__value">
                                        @Model?.SponsorViewModel?.ContactViewModel?.FullName
                                    </dd>
                                    <dd class="govuk-summary-list__actions">
                                        @Html.ActionLink("Change", redirectView, "PreRegistration", new { fromSummaryPage = true }, new { @class = "govuk-link", aria_label = "change your full name" })
                                    </dd>
                                </div>
                                <div class="govuk-summary-list__row">
                                    <dt class="govuk-summary-list__key">
                                        Job title
                                    </dt>
                                    <dd class="govuk-summary-list__value">
                                        @Model?.SponsorViewModel?.ContactViewModel?.JobTitle
                                    </dd>
                                    <dd class="govuk-summary-list__actions">
                                        @Html.ActionLink("Change", redirectView, "PreRegistration", new { fromSummaryPage = true }, new { @class = "govuk-link", aria_label = "change your job title" })
                                    </dd>
                                </div>
                                <div class="govuk-summary-list__row">
                                    <dt class="govuk-summary-list__key">
                                        Email
                                    </dt>
                                    <dd class="govuk-summary-list__value">
                                        @Model?.SponsorViewModel?.ContactViewModel?.Email
                                    </dd>
                                    <dd class="govuk-summary-list__actions">
                                        @Html.ActionLink("Change", redirectView, "PreRegistration", new { fromSummaryPage = true }, new { @class = "govuk-link", aria_label = "change your email" })
                                    </dd>
                                </div>
                                <div class="govuk-summary-list__row">
                                    <dt class="govuk-summary-list__key">
                                        Telephone number
                                    </dt>
                                    <dd class="govuk-summary-list__value">
                                        @Model?.SponsorViewModel?.ContactViewModel?.TelephoneNumber
                                    </dd>
                                    <dd class="govuk-summary-list__actions">
                                        @Html.ActionLink("Change", redirectView, "PreRegistration", new { fromSummaryPage = true }, new { @class = "govuk-link", aria_label = "change your telephone number" })
                                    </dd>
                                </div>
                            </dl>
                        </div>
                    </div>


                    @if (Model.CountryViewModel.SelectedCountries.Count <= 15)
                    {
                        <div class="govuk-summary-card">
                            <div class="govuk-summary-card__title-wrapper">
                                <h2 class="govuk-summary-card__title">
                                    List all the countries your company currently trades in
                                </h2>
                            </div>
                            @await Html.PartialAsync("~/Views/PreRegistration/PartialViews/_CountrySummaryShowAll.cshtml", Model.CountryViewModel)
                        </div>

                    }

                    else
                    {

                        <div class="govuk-summary-card">
                            <div class="govuk-summary-card__title-wrapper">
                                <h2 class="govuk-summary-card__title">
                                    List all the countries your company currently trades in
                                </h2>
                                <ul class="govuk-summary-card__actions">
                                    <li class="govuk-summary-card__action">
                                        @if (!hideCountries)
                                        {
                                            @Html.ActionLink("Show All", "ShowHideCountries", "PreRegistration", new { hideCountries = true }, new { @class = "govuk-link", aria_label = "Show all countries selected" })
                                        }
                                        else
                                        {
                                            @Html.ActionLink("Hide All", "ShowHideCountries", "PreRegistration", new { hideCountries = false }, new { @class = "govuk-link", aria_label = "Hide all countries selected" })
                                        }


                                    </li>

                                </ul>
                            </div>

                            @if (hideCountries)
                            {
                                @await Html.PartialAsync("~/Views/PreRegistration/PartialViews/_CountrySummaryShowAll.cshtml", Model.CountryViewModel)

                            }
                            else
                            {
                                @await Html.PartialAsync("~/Views/PreRegistration/PartialViews/_CountrySummaryHideAll.cshtml", Model.CountryViewModel)
                            }

                        </div>



                    }
                    <div class="govuk-warning-text">
                        <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
                        <strong class="govuk-warning-text__text">
                            <span class="govuk-visually-hidden">Warning</span>
                            If your application is successful, your company’s registered name and trading
                            name(s) will be publicly available on the register of digital identity and attribute
                            service providers.
                        </strong>
                    </div>



                    <div class="govuk-summary-card">
                        <div class="govuk-summary-card__title-wrapper">
                            <h2 class="govuk-summary-card__title">
                                Provide an overview of your company
                            </h2>
                        </div>
                        <div class="govuk-summary-card__content">
                            <dl class="govuk-summary-list">
                                <div class="govuk-summary-list__row">
                                    <dt class="govuk-summary-list__key">
                                        Registered Name
                                    </dt>
                                    <dd class="govuk-summary-list__value">
                                        @Model.CompanyViewModel.RegisteredCompanyName
                                    </dd>
                                    <dd class="govuk-summary-list__actions">
                                        @Html.ActionLink("Change", "Company", "PreRegistration", null, new { @class = "govuk-link", aria_label = "change you company's registered name" })
                                    </dd>
                                </div>
                                <div class="govuk-summary-list__row">
                                    <dt class="govuk-summary-list__key">
                                        Trading name(s)
                                    </dt>
                                    <dd class="govuk-summary-list__value">
                                        @Model.CompanyViewModel.TradingName
                                    </dd>
                                    <dd class="govuk-summary-list__actions">
                                        @Html.ActionLink("Change", "Company", "PreRegistration", null, new { @class = "govuk-link", aria_label = "change you company's trading name(s)" })
                                    </dd>
                                </div>
                                <div class="govuk-summary-list__row">
                                    <dt class="govuk-summary-list__key">
                                        Companies House or
                                        charity registration
                                        number
                                    </dt>
                                    <dd class="govuk-summary-list__value">
                                        @Model.CompanyViewModel.CompanyRegistrationNumber
                                    </dd>
                                    <dd class="govuk-summary-list__actions">
                                        @Html.ActionLink("Change", "Company", "PreRegistration", null, new { @class = "govuk-link", aria_label = "change you company's Companies House or charity registration number" })
                                    </dd>
                                </div>
                                <div class="govuk-summary-list__row">
                                    <dt class="govuk-summary-list__key">
                                        Parent company outside the UK
                                    </dt>
                                    <dd class="govuk-summary-list__value">
                                        @hasParentCompanyValue
                                    </dd>
                                    <dd class="govuk-summary-list__actions">
                                        @Html.ActionLink("Change", "Company", "PreRegistration", null, new { @class = "govuk-link", aria_label = "change option for your parent company" })
                                    </dd>
                                </div>
                                @if (hasParentCompany)
                                {
                                    <div class="govuk-summary-list__row">
                                        <dt class="govuk-summary-list__key">
                                            Registered name of parent company
                                        </dt>
                                        <dd class="govuk-summary-list__value">
                                            @Model.CompanyViewModel.ParentCompanyRegisteredName
                                        </dd>
                                        <dd class="govuk-summary-list__actions">
                                            @Html.ActionLink("Change", "Company", "PreRegistration", null, new { @class = "govuk-link", aria_label = "change registered name of parent company" })
                                        </dd>
                                    </div>
                                    <div class="govuk-summary-list__row">
                                        <dt class="govuk-summary-list__key">
                                            Country of parent company
                                        </dt>
                                        <dd class="govuk-summary-list__value">
                                            @Model.CompanyViewModel.ParentCompanyLocation
                                        </dd>
                                        <dd class="govuk-summary-list__actions">
                                            @Html.ActionLink("Change", "Company", "PreRegistration", null, new { @class = "govuk-link", aria_label = "change country of parent company" })
                                        </dd>
                                    </div>
                                }

                            </dl>
                        </div>
                    </div>
                </div>
            </div>

            @Html.ValidationMessageFor(m => m.ConfirmAccuracy, "", new { @class = "govuk-error-message", id = "confirmaccuracy-error" })
            <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                <div class="govuk-checkboxes__item">

                    @Html.CheckBoxFor(m => m.ConfirmAccuracy, new { @class = "govuk-checkboxes__input", id = "confirm-accuracy", aria_describedby = "confirmaccuracy-error" })
                    <label class="govuk-label govuk-checkboxes__label" for="confirm-accuracy">
                        By submitting this form, I confirm that to the best of my knowledge<br />
                        the information I have provided is correct.
                    </label>
                </div>
            </div>

            <button type="submit" data-prevent-double-click="true" class="govuk-button govuk-!-margin-top-6" data-module="govuk-button">
                Confirm and Continue
            </button>
        </main>
    </div>

}





