@model RemoveProviderViewModel
@{
    ViewData["Title"] = "You are about to remove your details from the register of digital identity and attribute services";
    Layout = "~/Views/Shared/_LayoutConsentPages.cshtml";
}

@{
    ViewData["HidePublishStatus"] = true;// setting variable to hide status field in partial view
}
@using (Html.BeginForm("RemoveProviderDetails", "RemoveProvider2i", FormMethod.Post))
{

    @Html.HiddenFor(m => m.token)

    <div class="govuk-width-container">

        <main id="main-content" class="govuk-main-wrapper" role="main">
            <div class="govuk-grid-row">

                <div class="govuk-grid-column-full">
                    @if (ViewData.ModelState.ErrorCount > 0)
                    {
                        ViewData["Title"] = "Error: " + ViewData["Title"];
                        @await Html.PartialAsync("~/Views/PartialViews/_ErrorSummaryView.cshtml", Model)
                    }
                    <h1 class="govuk-heading-xl">You are about to remove your details from the register of digital identity and attribute services</h1>
                    <p class="govuk-body">
                        This action will remove all your company information and any services listed
                        under your profile from the register.
                    </p>
                    <h2 class="govuk-heading-m">Basic information</h2>
                    <dl class="govuk-summary-list govuk-!-margin-bottom-8">
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Public contact email
                            </dt>
                            <dd class="govuk-summary-list__value">
                                @Model.Provider.PublicContactEmail
                            </dd>
                        </div>
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Telephone number
                            </dt>
                            <dd class="govuk-summary-list__value">
                                @Model.Provider.ProviderTelephoneNumber
                            </dd>
                        </div>
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Website address
                            </dt>
                            <dd class="govuk-summary-list__value">
                                @Model.Provider.ProviderWebsiteAddress
                            </dd>
                        </div>
                    </dl>


                    @foreach (var service in Model.Provider.Services)
                    {
                        <h2 class="govuk-heading-m"> Service: @service.ServiceName </h2>
                        @await Html.PartialAsync("~/Views/Consent/PartialViews/_ServiceDetailsView.cshtml", service)
                        <hr class="govuk-section-break govuk-section-break--m">
                    }



                    <p class="govuk-body">Please read the following carefully before proceeding:</p>
                    <ul class="govuk-list govuk-list--bullet">
                        <li>
                            Once you confirm and select 'Accept removal', your entire record will be
                            removed from the public register and you will receive a
                            confirmation email.
                        </li>
                        <li>If you select 'Cancel removal', no changes will be made.</li>
                    </ul>


                    @await Html.PartialAsync("~/Views/PartialViews/_CheckBoxView.cshtml", new ConsentCheckBoxViewModel
           {
               PropertyName = "HasConsent",
               Value = Model.HasConsent,
               HasError = Html.ViewData.ModelState.ContainsKey("HasConsent") && Html.ViewData.ModelState["HasConsent"].Errors.Count > 0,
               ErrorMessage = Html.ViewData.ModelState.ContainsKey("HasConsent") && Html.ViewData.ModelState["HasConsent"].Errors.Count > 0 ?
                Html.ViewData.ModelState["HasConsent"].Errors[0].ErrorMessage : string.Empty,
               Label = "I agree to remove my provider and service details from the register of digital identity and attribute services"

           })
                    <div class="govuk-button-group">

                        <button type="submit" class="govuk-button" data-module="govuk-button" name="action" value="remove">
                            Accept removal
                        </button>
                        <button type="submit" class="govuk-button govuk-button--secondary" data-module="govuk-button" name="action" value="cancel">
                            Cancel removal
                        </button>
                    </div>

                </div>
            </div>
        </main>
    </div>


}


