@model ProviderDetailsViewModel
@using DVSRegister.Extensions;
@using DVSRegister.CommonUtility.Models.Enums;
@using DVSRegister.CommonUtility.Models;
@{
    ViewData["Title"] = "Provider details";
    Layout = "~/Views/Shared/_Layout_Register.cshtml";
}

<div class="govuk-width-container">
    @Html.ActionLink("Back", "Register", "Register", new { FromDetailsPage = true }, new { @class = "govuk-back-link" })

    <main id="main-content" class="govuk-main-wrapper" role="main">
        <div class="govuk-grid-row">

            <div class="govuk-grid-column-full">
                <h1 class="govuk-heading-xl">@Model.Provider.RegisteredName</h1>
                @Html.Partial("~/Views/Register/PartialViews/_NotificationBanner.cshtml")
                <h2 class="govuk-heading-m">Trading Name: @Model.Provider.TradingName</h2>
                <p class="govuk-body govuk-!-margin-bottom-7">
                    Last updated (UTC) @DateTimeExtensions.FormatDateTime(@Model.Provider.PublishedTime)
                </p>


                <h2 class="govuk-heading-m">Basic information</h2>
                <hr class="govuk-section-break govuk-section-break--visible">
                <dl class="govuk-summary-list govuk-!-margin-bottom-8">
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Public email address
                        </dt>
                        <dd class="govuk-summary-list__value">
                            @Model.Provider.PublicContactEmail
                        </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Public telephone number
                        </dt>
                        <dd class="govuk-summary-list__value">
                            @if (!string.IsNullOrEmpty(Model.Provider.ProviderTelephoneNumber))
                            {
                               <div> @Model.Provider.ProviderTelephoneNumber </div>
                            }
                            else
                            {
                                <div>No public telephone number</div>
                            }
                        </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Website address
                        </dt>
                        <dd class="govuk-summary-list__value">
                            @Model.Provider.ProviderWebsiteAddress
                        </dd>
                    </div>
                </dl>


                @foreach (var service in Model.Provider.Services)
                {
                    <h2 class="govuk-heading-m">@service.ServiceName</h2>
                    <hr class="govuk-section-break govuk-section-break--visible">
                    <dl class="govuk-summary-list govuk-!-margin-bottom-8">
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Name of service
                            </dt>
                            <dd class="govuk-summary-list__value">
                                @service.ServiceName
                            </dd>
                        </div>
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Company address details
                            </dt>
                            <dd class="govuk-summary-list__value">
                                @HtmlExtensions.ToStringWithLineBreaks(@service.CompanyAddress)
                            </dd>
                        </div>
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Roles certified against
                            </dt>
                            <dd class="govuk-summary-list__value">
                                @foreach (var item in service.ServiceRoleMapping)
                                {
                                    <div>@Enum.GetName(typeof(RoleEnum), item.RoleId)</div>
                                }
                            </dd>
                        </div>
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                GPG44 quality of authenticator
                            </dt>
                            <dd class="govuk-summary-list__value">
                                @if (service.ServiceQualityLevelMapping != null && service.ServiceQualityLevelMapping.Any(x => x.QualityLevel.QualityType == QualityTypeEnum.Authentication))
                                {
                                    foreach (var item in service.ServiceQualityLevelMapping.Where(x => x.QualityLevel.QualityType == QualityTypeEnum.Authentication))
                                    {
                                        <div>@item.QualityLevel.Level</div>
                                    }
                                }
                                else
                                {
                                    <div>Not certified against GPG44</div>
                                }
                            </dd>
                        </div>


                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                GPG44 level of protection
                            </dt>
                            <dd class="govuk-summary-list__value">
                                @if (service.ServiceQualityLevelMapping != null && service.ServiceQualityLevelMapping.Any(x => x.QualityLevel.QualityType == QualityTypeEnum.Protection))
                                {
                                    @foreach (var item in service.ServiceQualityLevelMapping.Where(x => x.QualityLevel.QualityType == QualityTypeEnum.Protection))
                                    {
                                        <div>@item.QualityLevel.Level</div>
                                    }
                                }
                                else
                                {
                                    <div>Not certified against GPG44</div>
                                }
                            </dd>
                        </div>

                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                GPG45 identity profiles
                            </dt>
                            <dd class="govuk-summary-list__value">
                                @if (service.ServiceIdentityProfileMapping != null && service.ServiceIdentityProfileMapping.Any()) 
                                { 
                                    @foreach (var item in service.ServiceIdentityProfileMapping) 
                                    { 
                                        <div>@item.IdentityProfile.IdentityProfileName</div> 
                                    }
                                }
                                else
                                { 
                                    <div>Not certified against GPG45</div>
                                }
                            </dd>
                        </div>


                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Supplementary Schemes
                            </dt>
                            <dd class="govuk-summary-list__value">
                                @if (service.ServiceSupSchemeMapping.Any())
                                {
                                    @foreach (var item in service.ServiceSupSchemeMapping)
                                    {
                                        <div>@item.SupplementaryScheme.SchemeName</div>
                                    }
                                }
                                else
                                {
                                    <div>Not certified against any supplementary schemes</div>
                                }
                            </dd>
                        </div>

                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Certificate of conformity's date of expiry
                            </dt>
                            <dd class="govuk-summary-list__value">
                                @DateTimeExtensions.FormatDateTime(@service.ConformityExpiryDate, "dd MMMM yyyy")
                            </dd>
                        </div>
                    </dl>


                    <hr class="govuk-section-break govuk-section-break--m">
                }

                <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible govuk-!-margin-bottom-7">
                <h3 class="govuk-heading-m">Explore the topic</h3>
                <ul class="govuk-list">
                    <li>
                        <a href="https://www.gov.uk/government/publications/uk-digital-identity-and-attributes-trust-framework-beta-version/uk-digital-identity-and-attributes-trust-framework-beta-version#rules-for-all-identity-and-attribute-service-providers" class="govuk-link">Role type</a>
                    </li>
                    <li>
                        <a href="https://www.gov.uk/government/publications/identity-proofing-and-verification-of-an-individual/identity-profiles" class="govuk-link">Identity profiles</a>
                    </li>
                    <li>
                        <a href="https://www.gov.uk/government/publications/digital-identity-document-validation-technology-idvt" class="govuk-link">Supplementary schemes</a>
                    </li>
                </ul>

            </div>
        </div>
    </main>

</div>