@model ProviderDetailsViewModel
@using DVSRegister.CommonUtility
@using DVSRegister.Extensions;
@using DVSRegister.CommonUtility.Models;

@{
    ViewData["Title"] = "Provider Page";
    Layout = "~/Views/Shared/_LayoutLoggedIn.cshtml";
}                                                       

<div class="govuk-width-container">
    <a href="#" class="govuk-back-link">Back</a>
    <main class="govuk-main-wrapper">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                <h1 class="govuk-heading-xl">
                    Northrow limited
                    <span class="govuk-caption-m">Last updated @DateTimeExtensions.FormatDateTime(@Model.Provider.PublishedTime) (GMT)</span>
                </h1>
                <p class="govuk-body-l">Trading name: @Model.Provider.TradingName</p>
                <section class="govuk-summary-card">
                    <div class="govuk-summary-card__title-wrapper">
                        <h2 class="govuk-summary-card__title">Provider Information</h2>
                    </div>
                    <div class="govuk-summary-card__content">
                        <dl class="govuk-summary-list">
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">Public Email Address</dt>
                                <dd class="govuk-summary-list__value">@Html.DisplayFor(model => model.Provider.PublicContactEmail)</dd>
                            </div>
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">Public Telephone Number</dt>
                                <dd class="govuk-summary-list__value">@Html.DisplayFor(model => model.Provider.ProviderTelephoneNumber)</dd>
                            </div>
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">Website Address</dt>
                                <dd class="govuk-summary-list__value">@Model.Provider.ProviderWebsiteAddress</dd>
                            </div>
                        </dl>
                    </div>
                </section>

                <section class="govuk-summary-card">
                    <div class="govuk-summary-card__title-wrapper">
                        <h2 class="govuk-summary-card__title">Services</h2>
                    </div>
                    <div class="govuk-summary-card__content">
                        <dl class="govuk-summary-list">
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">foreach(service in Model.Services)</dt>
                                <dd class="govuk-summary-list__value"></dd>
                                <dd class="govuk-summary-list__actions">
                                    <a class="govuk-link" href="#">View Details</a>
                                </dd>
                            </div>
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">Service Name</dt>
                                <dd class="govuk-summary-list__value">service.ServiceName</dd>
                                <dd class="govuk-summary-list__actions">
                                    <a class="govuk-link" href="#">View Details</a>
                                </dd>
                            </div>
                        </dl>
                    </div>
                </section>

                <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

                <h3 class="govuk-heading-m">Explore the Topic</h3>
                <ul class="govuk-list">
                    <li><a href="https://www.gov.uk/government/publications/uk-digital-identity-and-attributes-trust-framework-beta-version/uk-digital-identity-and-attributes-trust-framework-beta-version#rules-for-all-identity-and-attribute-service-providers" class="govuk-link">Role Type</a></li>
                    <li><a href="https://www.gov.uk/government/publications/identity-proofing-and-verification-of-an-individual/identity-profiles" class="govuk-link">Identity Profiles</a></li>
                    <li><a href="https://www.gov.uk/government/publications/digital-identity-document-validation-technology-idvt" class="govuk-link">Supplementary Schemes</a></li>
                </ul>

                <div class="govuk-!-padding-bottom-6"></div>

                <section class="govuk-summary-card">
                    <div class="govuk-summary-card__title-wrapper">
                        <p class="govuk-body">
                            This is a new service. Help us improve it and <a href="#" class="govuk-link" rel="noreferrer noopener" target="_blank">give your feedback(opens in new tab)</a>.
                        </p>
                    </div>
                </section>
            </div>
        </div>
    </main>
</div>
