@using DVSRegister.CommonUtility.Models.Enums;

@model RegisterListViewModel
@{
    ViewData["Title"] = "Find certified digital identity and attribute services";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="govuk-width-container">
    @using (Html.BeginForm("Register", "Register", FormMethod.Get))
    {
        <main class="govuk-main-wrapper govuk-main-wrapper--l" id="main-content" role="main">
            <h1 class="govuk-heading-xl">
                Register of digital identity and attribute services
            </h1>
            <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
            <p class="govuk-body govuk-!-margin-bottom-7">Last updated @Model.LastUpdated
                @Html.ActionLink("See all updates", "Updates", "Register", null, new { @class = "govuk-link" })
               </p>
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-one-third">
                    <search>

                        <div class="govuk-form-group">
                            <h2 class="govuk-label-wrapper">
                                <label class="govuk-label govuk-label--m" for="SearchProvider">
                                    Search for a service provider or service
                                </label>
                            </h2>

                            @Html.TextBoxFor(m => m.SearchProvider, new { @class = "govuk-input govuk-!-margin-bottom-4", id = "SearchProvider", name = "search-provider" })

                            <div class="govuk-button-group">
                                <button type="submit" class="govuk-button" data-module="govuk-button" name="SearchAction" value="search">
                                    Search
                                </button>

                                <button type="submit" class="govuk-button govuk-button--secondary" data-module="govuk-button" name="SearchAction" value="clearSearch">
                                    Clear search
                                </button>
                            </div>
                        </div>

                        <h2 class="govuk-heading-m">Filters</h2>
                        <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

                        <div class="govuk-form-group">
                            <fieldset class="govuk-fieldset">
                                <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                                    <h3 class="govuk-fieldset__heading">
                                        Role types
                                    </h3>
                                </legend>
                                <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                                    @foreach (var role in Model.AvailableRoles)
                                    {
                                        <div class="govuk-checkboxes__item">
                                            <input class="govuk-checkboxes__input" type="checkbox" name="SelectedRoleIds" value="@role.Id" id="role_@role.Id" aria-describedby="selectedroleids-error"
                                            @(Model.SelectedRoleIds.Contains(role.Id) ? "checked" : "") />
                                            <label class="govuk-label govuk-checkboxes__label" for="role_@role.Id">@Enum.GetName((RoleEnum)@role.Id) </label>
                                        </div>
                                    }
                                </div>
                            </fieldset>
                        </div>

                        <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
                        <div class="govuk-form-group">
                            <fieldset class="govuk-fieldset">
                                <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                                    <h3 class="govuk-fieldset__heading">
                                        Supplementary schemes
                                    </h3>
                                </legend>
                                <div class="govuk-checkboxes" data-module="govuk-checkboxes">

                                    @foreach (var item in Model.AvailableSchemes)
                                    {
                                        <div class="govuk-checkboxes__item">
                                            <input class="govuk-checkboxes__input" type="checkbox" name="SelectedSupplementarySchemeIds" value="@item.Id" id="scheme_@item.Id"
                                            @(Model.SelectedSupplementarySchemeIds.Contains(item.Id) ? "checked" : "") />
                                            <label class="govuk-label govuk-checkboxes__label" for="scheme_@item.Id">@item.SchemeName</label>
                                        </div>
                                    }

                                </div>
                            </fieldset>
                        </div>
                        <div class="govuk-button-group">
                            <button type="submit" class="govuk-button" data-module="govuk-button" name="SearchAction" value="filter">
                                Apply filters
                            </button>
                            <button type="submit" class="govuk-button govuk-button--secondary" data-module="govuk-button" name="SearchAction" value="clearFilter">
                                Clear filters
                            </button>
                        </div>

                    </search>
                </div>
                <div class="govuk-grid-column-two-thirds">


                    @if (Model.Providers!=null && Model.Providers.Any())
                    {

                        if ((Model.SelectedRoleIds!=null && Model.SelectedRoleIds.Any())|| (Model.SelectedSupplementarySchemeIds!=null && Model.SelectedSupplementarySchemeIds.Any()))
                        {

                            <div class="dsit-search-filter-box">
                                <h3 class="govuk-heading-s govuk-!-margin-right-3">Containing <span class="govuk-visually-hidden">the following filters:</span></h3>
                                <ul class="dsit-search-filter-box__tags">
                                    @if (Model.SelectedRoles!=null && Model.SelectedRoles.Any())
                                    {
                                        @foreach (var role in Model.SelectedRoles)
                                        {
                                            <li><button type="submit" class="dsit-search-filter-box__tag" name="RemoveRole" value="@role.Id"><span class="govuk-visually-hidden">Remove this filter</span> @Enum.GetName((RoleEnum)@role.Id)</button></li>
                                        }

                                    }

                                    @if (Model.SelectedSupplementarySchemes!=null && Model.SelectedSupplementarySchemes.Any())
                                    {
                                        @foreach (var scheme in Model.SelectedSupplementarySchemes)
                                        {
                                            <li><button type="submit" class="dsit-search-filter-box__tag" name="RemoveScheme" value="@scheme.Id"><span class="govuk-visually-hidden">Remove this filter</span> @scheme.SchemeName</button></li>
                                        }
                                    }
                                </ul>
                            </div>
                        }

                        <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
                        <ul role="list" class="govuk-list govuk-!-margin-bottom-7">

                            @foreach (var provider in Model.Providers)
                            {
                                <li>
                                    <h3 class="govuk-heading-m"><a href="provider-details?providerId=@provider.Id">@provider.TradingName</a></h3>
                                    <p class="govuk-body govuk-!-margin-bottom-2">Registered name: @provider.RegisteredName</p>
                                    <p class="govuk-body-s dsit-secondary-text-colour">Address: @provider.Address</p>
                                    <ul role="list" class="govuk-list">

                                        @foreach (var service in provider.CertificateInformation)
                                        {
                                            <li>
                                                <p class="govuk-body govuk-!-margin-bottom-2">Service @service.ServiceNumber: @service.ServiceName</p>
                                                <p class="govuk-body-s dsit-secondary-text-colour govuk-!-margin-bottom-2">Role types: @string.Join(",", service.Roles.Select(x => @Enum.GetName((RoleEnum)x.Id)).ToList())</p>
                                                @if (@service.SupplementarySchemes != null && @service.SupplementarySchemes.Any())
                                                {
                                                    <p class="govuk-body-s dsit-secondary-text-colour">Supplementary schemes:   @string.Join(",", service.SupplementarySchemes.Select(x => x.SchemeName).ToList())</p>
                                                }

                                            </li>
                                        }

                                    </ul>
                                    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
                                </li>
                            }

                        </ul>
                    }
                    else
                    {
                        <h2 class="govuk-heading-s govuk-!-margin-bottom-2"><span class="govuk-visually-hidden">Search results</span> Showing 0 results</h2>
                        <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

                        <p class="govuk-body">There are no matching results. Please try:</p>
                        <ul class="govuk-list govuk-list--bullet">
                            <li>removing filters</li>
                            <li>double checking your spelling</li>
                            <li>using fewer keywords</li>
                            <li>searching for a trading name, registered name or service name</li>
                        </ul>
                        <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
                    }

                </div>

            </div>
            <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
            <p class="govuk-body govuk-!-margin-bottom-7">Last updated @Model.LastUpdated —  @Html.ActionLink("See all updates", "Updates", "Register", null, new { @class = "govuk-link" })</p>
        </main>
    }
</div>
