@using DVSRegister.BusinessLogic.Models.CAB
@using DVSRegister.CommonUtility
@using DVSRegister.CommonUtility.Models
@using DVSRegister.CommonUtility.Models.Enums
@using DVSRegister.Extensions
@model ServiceDto
@{
    bool is0_4GammaVersion = Model?.TrustFrameworkVersion?.Version == Constants.TFVersion0_4;
    ViewData["Title"] = "Service details";
    Layout = "~/Views/Shared/_Layout_Register.cshtml";
    ViewData["ActiveNav"] = "AllServices";
}

<div class="govuk-width-container">
    @if (ViewBag.PreviousServiceId != null)
    {
        <a href="@Url.Action("ServiceDetails", "Register", new { serviceId = ViewBag.PreviousServiceId })" class="govuk-back-link">Back</a>
    }
    else if (ViewBag.FromProviderPage == true)
    {
        <a href="@Url.Action("ProviderDetails", "Register", new { providerId = Model.ProviderProfileId })" class="govuk-back-link">Back</a>
    }
    else
    {
        <a href="@Url.Action("AllServices", "Register", null)" class="govuk-back-link">Back</a>        
    }
    <main id="main-content" class="govuk-main-wrapper" role="main">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                <h1 class="govuk-heading-xl govuk-!-margin-bottom-6">
                    <span class="govuk-caption-l">Service</span>
                    @Model.ServiceName
                    <span class="govuk-caption-m">Last updated @DateTimeExtensions.FormatDateTime(@Model.Provider.ModifiedTime) (GMT)</span>
                </h1>
                <div class="govuk-summary-card">
                    <div class="govuk-summary-card__title-wrapper">
                        <h2 class="govuk-summary-card__title">
                            Provider information
                        </h2>
                        <ul class="govuk-summary-card__actions">
                            <li class="govuk-summary-card__action">
                                <a class="govuk-link" href="@Url.Action("ProviderDetails", "Register", new { providerId = Model.ProviderProfileId, fromServicePage = true,
                                previousServiceId = Model.Id })">View profile details <span class="govuk-visually-hidden"> of Provider @Model.Provider.RegisteredName</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="govuk-summary-card__content">
                        <dl class="govuk-summary-list">
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">
                                    Provider name
                                </dt>
                                <dd class="govuk-summary-list__value">
                                    @Model.Provider.RegisteredName
                                </dd>
                            </div>
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">
                                    Trading name
                                </dt>
                                <dd class="govuk-summary-list__value">
                                    @Html.DisplayFor(model => model.Provider.TradingName)
                                </dd>
                            </div>
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">
                                    Public email address
                                </dt>
                                <dd class="govuk-summary-list__value">
                                    @Html.DisplayFor(model => model.Provider.PublicContactEmail)
                                </dd>
                            </div>
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">
                                    Public telephone number
                                </dt>
                                <dd class="govuk-summary-list__value">
                                    @Html.DisplayFor(model => model.Provider.ProviderTelephoneNumber)
                                </dd>
                            </div>
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">
                                    Website address
                                </dt>
                                <dd class="govuk-summary-list__value">
                                    @Model.Provider.ProviderWebsiteAddress
                                </dd>
                            </div>
                        </dl>
                    </div>
                </div>

                <div class="govuk-summary-card">
                    <div class="govuk-summary-card__title-wrapper">
                        <h2 class="govuk-summary-card__title">Service information</h2>
                    </div>
                    <div class="govuk-summary-card__content">
                        <dl class="govuk-summary-list govuk-!-margin-bottom-8">
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">Trust framework version</dt>
                                <dd class="govuk-summary-list__value">@Model?.TrustFrameworkVersion?.TrustFrameworkName</dd>
                            </div>
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">Conformity Assessment Body name</dt>
                                <dd class="govuk-summary-list__value">@Model.CabUser.Cab.CabName</dd>
                            </div>
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">Company address details</dt>
                                <dd class="govuk-summary-list__value">@HtmlExtensions.ToStringWithLineBreaks(Model.CompanyAddress)</dd>
                            </div>
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">Roles certified against</dt>
                                <dd class="govuk-summary-list__value">
                                    @foreach (var item in Model.ServiceRoleMapping)
                                    {
                                        <div>@Enum.GetName(typeof(RoleEnum), item.RoleId)</div>
                                    }
                                </dd>
                            </div>
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">Underpinning or white-labelled service</dt>
                                <dd class="govuk-summary-list__value">@ViewModelHelper.GetServiceType(Model.ServiceType)</dd>
                            </div>
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">Identity profiles</dt>
                                <dd class="govuk-summary-list__value">
                                    @if (Model?.ServiceIdentityProfileMapping?.Count > 0)
                                    {
                                        var groupedProfiles = Model.ServiceIdentityProfileMapping
                                        .GroupBy(profile => profile.IdentityProfile.IdentityProfileType)
                                        .ToDictionary(group => group.Key, group => group.ToList())
                                        .OrderBy(g => g.Key);
                                        foreach (var group in groupedProfiles)
                                        {
                                            <strong>@group.Key</strong>

                                            <br>
                                            foreach (var item in group.Value.OrderBy(c => c.IdentityProfile.IdentityProfileName))
                                            {
                                                @item.IdentityProfile.IdentityProfileName

                                                <br>
                                            }

                                            <br>
                                        }
                                    }
                                    else
                                    {
                                        <div>@Constants.NullFieldsDisplay</div>
                                    }
                                </dd>
                            </div>
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">Quality of authenticator</dt>
                                <dd class="govuk-summary-list__value">
                                    @if (Model.ServiceQualityLevelMapping != null && Model.ServiceQualityLevelMapping.Any(x => x.QualityLevel.QualityType == QualityTypeEnum.Authentication))
                                    {
                                        foreach (var item in Model.ServiceQualityLevelMapping.Where(x => x.QualityLevel.QualityType == QualityTypeEnum.Authentication))
                                        {
                                            <div>@item.QualityLevel.Level</div>
                                        }
                                    }
                                    else
                                    {
                                        <div>@Constants.NullFieldsDisplay</div>
                                    }
                                </dd>
                            </div>
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">Quality of protection</dt>
                                <dd class="govuk-summary-list__value">
                                    @if (Model.ServiceQualityLevelMapping != null && Model.ServiceQualityLevelMapping.Any(x => x.QualityLevel.QualityType == QualityTypeEnum.Protection))
                                    {
                                        @foreach (var item in Model.ServiceQualityLevelMapping.Where(x => x.QualityLevel.QualityType == QualityTypeEnum.Protection))
                                        {
                                            <div>@item.QualityLevel.Level</div>
                                        }
                                    }
                                    else
                                    {
                                        <div>@Constants.NullFieldsDisplay</div>
                                    }
                                </dd>
                            </div>
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">Supplementary codes</dt>
                                <dd class="govuk-summary-list__value">
                                    @if (Model.ServiceSupSchemeMapping.Any())
                                    {
                                        @foreach (var item in Model.ServiceSupSchemeMapping)
                                        {
                                            <div>@item.SupplementaryScheme.SchemeName</div>
                                        }
                                    }
                                    else
                                    {
                                        <div>@Constants.NullFieldsDisplay</div>
                                    }
                                </dd>
                            </div>
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">Certificate of conformity's date of issue</dt>
                                <dd class="govuk-summary-list__value">@DateTimeExtensions.FormatDateTime(Model.ConformityIssueDate, "dd MMMM yyyy")</dd>
                            </div>
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">Certificate of conformity's date of expiry</dt>
                                <dd class="govuk-summary-list__value">@DateTimeExtensions.FormatDateTime(Model.ConformityExpiryDate, "dd MMMM yyyy")</dd>
                            </div>
                        </dl>
                    </div>
                </div>

                @if (is0_4GammaVersion && Model.ServiceType != ServiceTypeEnum.UnderPinning)
                {
                    @if (Model?.ServiceSupSchemeMapping != null && Model.ServiceSupSchemeMapping.Count > 0)
                    {
                        <div class="govuk-summary-card">
                            <div class="govuk-summary-card__title-wrapper">
                                <h2 class="govuk-summary-card__title">
                                    Supplementary codes
                                </h2>
                            </div>
                            <div class="govuk-summary-card__content">
                                <dl class="govuk-summary-list">
                                    @foreach (var schemeMapping in Model.ServiceSupSchemeMapping)
                                    {
                                        <div class="govuk-summary-list__row">
                                            <dt class="govuk-summary-list__key">
                                                <strong style="font-size: larger;">@schemeMapping.SupplementaryScheme.SchemeName</strong>
                                            </dt>
                                        </div>
                                        <div class="govuk-summary-list__row">
                                            <dt class="govuk-summary-list__key">
                                                Identity profiles
                                            </dt>
                                            <dd class="govuk-summary-list__value">
                                                @{
                                                    var groupedProfiles = schemeMapping.SchemeGPG45Mapping
                                                    .GroupBy(profile => profile.IdentityProfile.IdentityProfileType)
                                                    .ToDictionary(group => group.Key, group => group.ToList())
                                                    .OrderBy(g => g.Key);

                                                    foreach (var group in groupedProfiles)
                                                    {
                                                        <strong>@group.Key</strong>
                                                        <br>
                                                        foreach (var identity in group.Value.OrderBy(c => c.IdentityProfile.IdentityProfileName))
                                                        {
                                                            @identity.IdentityProfile.IdentityProfileName
                                                            <br>
                                                        }
                                                        <br>
                                                    }
                                                }
                                            </dd>
                                        </div>
                                        <div class="govuk-summary-list__row">
                                            <dt class="govuk-summary-list__key">
                                                GPG 44 quality of authentication
                                            </dt>
                                            <dd class="govuk-summary-list__value">
                                                @if (schemeMapping.SchemeGPG44Mapping != null && schemeMapping.SchemeGPG44Mapping.Count > 0)
                                                {
                                                    @foreach (var item in schemeMapping.SchemeGPG44Mapping.Where(x => x.QualityLevel.QualityType == QualityTypeEnum.Authentication))
                                                    {
                                                        @item.QualityLevel.Level
                                                        <br>
                                                    }
                                                }
                                                else
                                                {
                                                    <div>@Constants.NullFieldsDisplay</div>

                                                }
                                            </dd>
                                        </div>
                                        <div class="govuk-summary-list__row">
                                            <dt class="govuk-summary-list__key">
                                                GPG 44 quality of protection
                                            </dt>
                                            <dd class="govuk-summary-list__value">
                                                @if (schemeMapping.SchemeGPG44Mapping != null && schemeMapping.SchemeGPG44Mapping.Count > 0)
                                                {
                                                    @foreach (var item in schemeMapping.SchemeGPG44Mapping.Where(x => x.QualityLevel.QualityType == QualityTypeEnum.Protection))
                                                    {
                                                        @item.QualityLevel.Level
                                                        <br>
                                                    }
                                                }
                                                else
                                                {
                                                    <div>@Constants.NullFieldsDisplay</div>
                                                }
                                            </dd>
                                        </div>
                                     }
                                </dl>
                            </div>
                        </div>
                    }

                    @if (Model.UnderPinningService == null && Model.ManualUnderPinningService != null)
                    {
                        <div class="govuk-summary-card">
                            <div class="govuk-summary-card__title-wrapper">
                                <h2 class="govuk-summary-card__title">
                                    Underpinning service: @Model?.ManualUnderPinningService?.ServiceName
                                </h2>
                            </div>
                            <div class="govuk-summary-card__content">
                                <p class="govuk-body govuk-!-margin-top-4">
                                    The underpinning service used by this white-labelled service is not listed on this register. For more information
                                    about the underpinning service, please contact the white-labelled service provider directly.
                                </p>
                                <hr class="govuk-section-break govuk-section-break govuk-section-break--visible govuk-!-margin-bottom-0 govuk-!-margin-top-7">
                                <dl class="govuk-summary-list">
                                    <div class="govuk-summary-list__row">
                                        <dt class="govuk-summary-list__key">
                                            Name of underpinning service
                                        </dt>
                                        <dd class="govuk-summary-list__value">
                                            @Model?.ManualUnderPinningService?.ServiceName
                                        </dd>
                                    </div>
                                    <div class="govuk-summary-list__row">
                                        <dt class="govuk-summary-list__key">
                                            Underpinning service provider name
                                        </dt>
                                        <dd class="govuk-summary-list__value">
                                            @Model.ManualUnderPinningService.ProviderName
                                        </dd>
                                    </div>
                                    <div class="govuk-summary-list__row">
                                        <dt class="govuk-summary-list__key">
                                            Conformity Assessment Body of underpinning service
                                        </dt>
                                        <dd class="govuk-summary-list__value">
                                            @Model.ManualUnderPinningService.Cab.CabName 
                                        </dd>
                                    </div>
                                        <div class="govuk-summary-list__row">
                                            <dt class="govuk-summary-list__key">
                                                Underpinning service <br /> certificate expiry date
                                            </dt>
                                            <dd class="govuk-summary-list__value">
                                                @DateTimeExtensions.FormatDateTime(Model.ManualUnderPinningService.CertificateExpiryDate, "dd MMM yyyy")
                                            </dd>
                                        </div>
                                    </dl>
                                </div>
                            </div>
                                }

                    else if (Model.ManualUnderPinningService == null && Model.UnderPinningService != null)
                    {
                        <div class="govuk-summary-card">
                            <div class="govuk-summary-card__title-wrapper">
                                <h2 class="govuk-summary-card__title">
                                    Underpinning service: @Model.UnderPinningService.ServiceName
                                </h2>
                            </div>
                            <div class="govuk-summary-card__content">
                                <p class="govuk-body govuk-!-margin-top-4">
                                    This service relies on an underpinning service from another provider.
                                    You can view the details for this underpinning service on the register.
                                </p>
                                <p class="govuk-body">
                                    <a class="govuk-link"
                                       href="@Url.Action("ServiceDetails", "Register", new { serviceId = Model.UnderPinningServiceId,  previousServiceId = Model.Id })">
                                        View the underpinning service details
                                        <span class="govuk-visually-hidden">
                                            of Service @Model.UnderPinningService.ServiceName
                                        </span>
                                    </a>
                                </p>
                                <hr class="govuk-section-break govuk-section-break govuk-section-break--visible govuk-!-margin-bottom-0 govuk-!-margin-top-7">
                                <dl class="govuk-summary-list">
                                    <div class="govuk-summary-list__row">
                                        <dt class="govuk-summary-list__key">
                                            Name of underpinning service
                                        </dt>
                                        <dd class="govuk-summary-list__value">
                                            @Model.UnderPinningService.ServiceName
                                        </dd>
                                    </div>
                                    <div class="govuk-summary-list__row">
                                        <dt class="govuk-summary-list__key">
                                            Underpinning service provider name
                                        </dt>
                                        <dd class="govuk-summary-list__value">
                                            @Model.UnderPinningService.Provider.RegisteredName
                                        </dd>
                                    </div>
                                    <div class="govuk-summary-list__row">
                                        <dt class="govuk-summary-list__key">
                                            Conformity Assessment Body of underpinning service
                                        </dt>
                                        <dd class="govuk-summary-list__value">
                                            @Model.UnderPinningService.CabUser.Cab.CabName
                                        </dd>
                                    </div>
                                    <div class="govuk-summary-list__row">
                                        <dt class="govuk-summary-list__key">
                                            Underpinning service <br /> certificate expiry date
                                        </dt>
                                        <dd class="govuk-summary-list__value">
                                            @DateTimeExtensions.FormatDateTime(Model.UnderPinningService.ConformityExpiryDate, "dd MMM yyyy")
                                        </dd>
                                    </div>
                                </dl>
                            </div>
                        </div>
                    }
                }

                <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible govuk-!-margin-bottom-7">
                <h3 class="govuk-heading-m">Explore the Topic</h3>
                <p class="govuk-body">
                    <strong><a href="https://www.gov.uk/government/publications/uk-digital-identity-and-attributes-trust-framework-beta-version/uk-digital-identity-and-attributes-trust-framework-beta-version#rules-for-all-identity-and-attribute-service-providers" class="govuk-link">Role Type</a></strong>
                </p>
                <p class="govuk-body">
                    <strong><a href="https://www.gov.uk/government/publications/identity-proofing-and-verification-of-an-individual/identity-profiles" class="govuk-link">Identity profiles</a></strong>
                </p>
                <p class="govuk-body">
                    <strong><a href="https://www.gov.uk/government/publications/digital-identity-document-validation-technology-idvt" class="govuk-link">Supplementary Schemes</a></strong>
                </p>
            </div>
        </div>
    </main>
</div>

